workflows/API OFICIAL WHATSAPP.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-24T20:27:03.658Z",
  "id": "SIDC2Q9ClACLFds6",
  "name": "API OFICIAL WHATSAPP",
  "nodes": [
    {
      "parameters": {
        "path": "api-oficial-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f46d64f3-997c-4a13-abd8-4bff1041e949",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        400
      ],
      "webhookId": "1a5dd426-185d-4177-a632-415ad0b01b7e"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query['hub.verify_token'] }}",
              "value2": "153712"
            }
          ]
        }
      },
      "id": "1f602a42-aa39-4dd2-8558-9c7f0113ed08",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook').item.json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "397ad013-6a74-471e-9513-c3c34d93fe21",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1240,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api-oficial-whatsapp",
        "responseCode": "200",
        "options": {}
      },
      "id": "cf641000-c617-4e20-bb36-a422951df6f7",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        640
      ],
      "webhookId": "dd61f809-64f9-4383-a0e2-5e9f01ffdc47"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "value2": "#chat"
            }
          ]
        }
      },
      "id": "77cf2afc-903a-49fc-a1ca-43fa5bfdbc2d",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/123806084140030/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAANoMieX3A8BOzv6q2sL1YXMBxRCa5iw97goZAzn6gqQQ0XhXqURN9OwhvZAVDCQU5hweK4ON4ZBZBMNYLTTC6uRrC3zm5WHEHQBpX5V7FYVoEYA47rLmmIWcqEuBQaKnvHG2ftZCcgoAQJsXEqal52snnUv9DZCWF2RNOLZANtVx3asYm8y7lHK2b4HSYHLUY9WDfrOv6MZBazdwtz1NdhrAvZCjMdZBoHSesNrwZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"5566996188393\",\n    \"type\": \"text\",\n    \"text\": {\n        \"preview_url\": false,\n        \"body\": \"Que legal te ver aqui. como você vai?\"\n        }\n}",
        "options": {}
      },
      "id": "18e48867-0267-45cd-83ad-e5cbd4cca16f",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        620
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-08-25T15:22:52.865Z",
  "versionId": "afddf324-fe92-411c-a5a6-323f6fa0d150"
}