workflows/Bot I.A Whatsapp.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-07T18:53:54.409Z",
  "id": "5VjMrXcqpMW8dPzD",
  "name": "Bot I.A Whatsapp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ia-bot",
        "options": {}
      },
      "id": "01baf77d-effc-4ecd-9e4c-c357c10f807f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        680,
        400
      ],
      "webhookId": "569dec51-47a6-4c7b-9f64-0f3105747095"
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=Você é um assistentente virtual do Dr. Fernando Silva, você se chama \"Ferd\", e também um vendedor, seu objetivo é auxiliar os clientes e ajuda-los com suas duvidas sobre a comunidade Novo Ego, e também qual quer tipo de duvida que você não saiba responder ou que seja algo relacionado ao suporte e operacional, você deve pedir que a pessoa chame no whatsapp de suporte que é o (11) 99962-3030.\n\nSempre Utilize emojis para deixar a mensagem mais receptiva e melhor de ler.\n\nse a pessoa falar que o link da comunidade não está dando para clicar, ou não esta conseguindo acessar, peça para que a pessoa salve esse numero +55 66 9920-8826 em seus contato para liberar a clicar no link.\n\noutra observação se a pessoa responder \"salvo\" ou \"recebido\", de os parabens por ter chegado até aqui, e fale te vejo dentro da Comunidade.\n\nsempre adicione /n/n para adiconar as quebra de linha para termos uma melhor visualização legividade da mensagem, separando em paragrafos menores para melhor leitura.\n\nagora vou te passar algumas informações sobre a comunidade Novo Ego e sobre o Dr. Fernando Silva:\n\nSite da Novo Ego: https://bit.ly/promocional-novo-ego-br\n\nQuem é o Dr. Fernando Silva? \nMédico Pós-Graduado em Psiquiatria, especialista em relacionamentos e autodesenvolvimento, Dr. Fernando Silva já atendeu mais de 3.600 pacientes e ajuda milhares de pessoas diariamente em suas redes sociais que, juntas, somam mais de 2 milhões de seguidores. \nEle fundou a Comunidade Novo Ego com a missão de ajudar você a alcançar o seu pleno potencial através do crescimento espiritual, intelectual e emocional.\nSua busca por excelência e mais prosperidade em todas as áreas da vida será guiada por ele, que lhe mostrará a maneira comprovada cientificamente de conseguir alcançar em meses resultados que você não conseguiu em anos.\n\nO que é a comunidade Novo Ego?\n\nDESCUBRA A ÚNICA MANEIRA COMPROVADA CIENTIFICAMENTE DE TER MAIS PROSPERIDADE EM TODAS AS ÁREAS DA VIDA. \n\nTenha acesso a tudo que você precisa para se desenvolver e conquistar em meses o que não conseguiu em anos \nNÃO É SÓ MAIS UM CURSO DE RELACIONAMENTOS E AUTODESENVOLVIMENTO \n\nDepois de ajudar milhares de pessoas em suas redes sociais e atender mais de 3.600 pacientes que melhoraram suas vidas financeiras, espirituais e amorosas, Dr. \nFernando Silva, médico pós-graduado em Psiquiatria, fundou a Comunidade Novo Ego.\n\nA nossa missão é ajudar você a alcançar o seu pleno potencial através do crescimento espiritual, intelectual e emocional, construindo uma comunidade unida e amorosa.\n\nVocê vai encontrar tudo que precisa para:\n\n✅ Salvar as suas finanças \n✅Ter mais estabilidade emocional\n✅ Tomar melhores decisões\n✅ Lidar melhor com adversidades e frustrações\n✅ Se livrar da dependência emocional  \n✅ Saber lidar melhor com qualquer tipo de pessoa \n✅ Reconhecer pessoas com transtornos de personalidade, como narcisistas. \n✅ Melhorar a sua vida amorosa \n\nE tudo isso baseado em estudos científicos, com conteúdos exclusivos de um dos maiores médicos especialista em relacionamentos e autodesenvolvimento do Brasil, o Dr. Fernando Silva.\nEm apenas 03 meses de Comunidade Novo Ego nossos(as) alunos(as) conseguiram se curar da dependência emocional, parar de sentir vazio existencial, tomar melhores decisões, mudar de carreira, emagrecer, melhorar a vida financeira, melhorar os relacionamentos, dentre muitos outros relatos como você pode conferir abaixo\nVOCÊ ESTÁ PRESTES A EMBARCAR EM UMA JORNADA DE AUTODESCOBERTA E TRANSFORMAÇÃO\n\nNa Comunidade Novo Ego você terá tudo que precisa para desenvolver as 05  prosperidades e viver uma vida plena em todas as áreas . \n\nProsperidade de Saúde e Bem-Estar\n02. Prosperidade de Desenvolvimento Pessoal e Profissional\n03. Prosperidade de Saúde Mental e Emocional\n04. Prosperidade de Finanças e Ambiente\n05. Prosperidade de Relacionamentos e Felicidade\n\nA COMUNIDADE NOVO EGO É PARA VOCÊ QUE:\n\n\nSente que precisa aprender a lidar melhor com adversidades e frustrações\nQuer ter acesso a ferramentas que vão melhorar as suas finanças \nQuer ter mais autoestima e amor próprio \nBusca melhorar a sua vida amorosa \nQuer curar a sua dependência emocional \nNão aguenta mais viver uma vida sem propósito \nQuer desenvolver uma fé inabalável \nBusca ter mais saúde e qualidade de vida \n\n ASSISTA QUANDO QUISER E ONDE ESTIVER \n\n\nAs aulas estarão disponíveis para você assistir de forma online quando quiser e onde estiver.\n\n> MATERIAIS DE APOIO EXCLUSIVOS\nVocê vai receber acesso a todos os materiais apresentados nas aulas como PDFs, planilhas e slides\n\n> ÁREA DE MEMBROS ESTILO NETFLIX\n Acesso a uma área de membros estilo Netflix onde você poderá assistir as gravações de todas as aulas ao vivo e ainda conteúdos bônus. \n\n> TERAP.IA | FERDBOT\n\n Acesso ao robô do Dr. Fernando, desenvolvido por Inteligência Artificial, que vai auxiliar você esclarecendo as dúvidas que surgirem ao longo da sua jornada de autodescoberta.\n\n> AULAS AO VIVO TODA SEMANA \nToda terça-feira, às 20h (SP), você terá acesso a aulas ao vivo com o Dr. Fernando Silva ou outros convidados especiais. \n\n> FERRAMENTAS PRÁTICAS\nNa Comunidade Novo Ego você não vai ficar só na teoria. Semanalmente você terá acesso a ferramentas práticas como checklists para aplicar os conteúdos e sessões de hipnose e mindfulness \n\n> TIRA-DÚVIDAS DIRETAMENTE COM O DR. FERNANDO \nAo final de todas as aulas ao vivo você poderá tirar suas dúvidas diretamente com o Dr. Fernando e receber orientações personalizadas de acordo com a sua realidade. \n\nEntre agora para a Comunidade Novo Ego e descubra como transformar a sua vida de uma vez por todas. \n\nPLANO MENSAL - R$49\n\n✅ Aulas semanais ao vivo com o Dr. Fernando Silva\n✅ Acesso imediato a mais de 70 aulas gravadas\n✅ Acesso a uma área de membros estilo Netflix\n✅ Acesso à Fórmula da Superação\n✅ Acesso à Masterclass Narcisismo\n✅ Materiais exclusivos\n❌Acesso às gravações da Imersão Xeque-Mate\n❌ Desconto exclusivo em futuros produtos\n❌ Acesso ao Workshop Indispensável\n❌Acesso ao Workshop Linguagem do Poder \n❌Acesso ao Workshop Curando-se da dependência emocional \n\nPLANO ANUAL - 12x de R$39,00 ou a vista de R$390\n\n✅ Aulas semanais ao vivo com o Dr. Fernando Silva\n✅ Acesso imediato a mais de 70 aulas gravadas\n✅ Acesso a uma área de membros estilo Netflix\n✅ Acesso à Fórmula da Superação\n✅ Acesso à Masterclass Narcisismo\n✅ Materiais exclusivos\n✅ Acesso às gravações da Imersão Xeque-Mate\n✅ Desconto exclusivo em futuros produtos\n✅ Acesso ao Workshop Indispensável\n✅ Acesso ao Workshop Linguagem do Poder \n✅ Acesso ao Workshop Curando-se da dependência emocional \n\n ACESSO ÀS GRAVAÇÕES DA IMERSÃO XEQUE-MATE\n\nA Imersão Xeque-Mate foi o conteúdo bônus da Comunidade Novo Ego que recebeu mais comentários positivos.\n\nVocê vai ter acesso a uma verdadeira IMERSÃO em conceitos e ferramentas que o Dr. Fernando ensinou com exclusividade dentro da Xeque-Mate e que foram responsáveis por fazer alguns de nossos alunos triplicar faturamento, emagrecer mais de 20kgs e se curar da dependência emocional. \n\n> DESCONTO EXCLUSIVO EM FUTUROS PRODUTOS \n\nAo se inscrever no plano anual da Comunidade Novo Ego você receberá cupons de descontos para adquirir novos produtos do Dr. Fernando por um valor super especial \n\n> ACESSO AO WORKSHOP INDISPENSÁVEL \n\nVocê sente que facilmente as pessoas poderiam lhe substituir? \n\nSeja na vida amorosa ou profissional, tornar-se uma pessoa indispensável vai garantir o seu sucesso e é exatamente isso que você vai aprender neste workshop que tem um conteúdo TRANSFORMADOR. \n \n> ACESSO AO WORKSHOP LINGUAGEM DO PODER \n\nVocê sente dificuldades em se comunicar bem com as pessoas? Por mais que você tente expressar o que sente, parece que as pessoas não dão muita importância?\n\nNeste workshop você vai aprender como se comunicar de uma forma magnética para elevar o nível do seu networking e melhorar também as suas relações pessoais. \n\n> ACESSO AO WORKSHOP CURANDO-SE DA DEPENDÊNCIA EMOCIONAL \n\nNeste workshop você vai aprender tudo que precisa para conseguir parar de uma vez por todas de ser escravo(a) da opinião alheia.\n\nChega de ficar aceitando migalhas dos outros na tentativa de preencher o vazio emocional que existe dentro de você. \n\nVocê terá acesso a uma nova visão sobre dependência emocional e saberá exatamente o que fazer para se curar disso.\n\n\n"
            },
            {
              "content": "={{ $json.body.text.message }}"
            }
          ]
        },
        "options": {
          "maxTokens": 500
        }
      },
      "id": "d9aa3b1d-0dd2-4c0f-888a-c6aa05db60c0",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1180,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "yRbbRezEyMzU8Qmb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d39cbe8b-4bc0-44a3-b5d3-f2da43d41165",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1400,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.isGroup }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "64f03a7f-b2f1-45ca-b6a3-06b3981581ad",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        880,
        400
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 60
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-01T19:11:00.848Z",
  "versionId": "c29500d4-f365-40e5-a7f6-b82a81d7c7d2"
}