workflows/Calendly -> Planilha.json
{
  "active": false,
  "connections": {
    "Calendly Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-09T18:50:15.681Z",
  "id": "8rHvOl3RLkTqihSb",
  "meta": null,
  "name": "Calendly -> Planilha",
  "nodes": [
    {
      "parameters": {
        "events": [
          "invitee.created"
        ]
      },
      "id": "d2fdfb46-66aa-4280-ab74-16f1860f2d14",
      "name": "Calendly Trigger",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        520,
        360
      ],
      "webhookId": "92169a01-70c3-4b95-bc6c-541a56f5307e",
      "credentials": {
        "calendlyApi": {
          "id": "ZymxTsmwmidwawMi",
          "name": "Odonto Vida"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const agendado = $('Calendly Trigger').item.json.payload.scheduled_event.start_time\n\nconst whats = $('Calendly Trigger').item.json.payload.questions_and_answers[0].answer\n\nfunction formatDate(dateTimeString) {\n  // Cria um objeto Date a partir da string ISO 8601\n  const date = new Date(dateTimeString);\n\n  // Extrai os componentes da data e hora\n  const year = date.getUTCFullYear();\n  const month = String(date.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(date.getUTCDate()).padStart(2, '0');\n\n  // Monta a string formatada\n  const formattedDateTime = `${year}-${month}-${day}`;\n\n  return formattedDateTime;\n}\n\nfunction formatTime(dateTimeString) {\n  // Cria um objeto Date a partir da string ISO 8601\n  const date = new Date(dateTimeString);\n\n  const hours = String(date.getUTCHours()).padStart(2, '0');\n  const minutes = String(date.getUTCMinutes()).padStart(2, '0');\n\n  // Monta a string formatada\n  const formattedDateTime = `${hours-4}:${minutes}`;\n\n  return formattedDateTime;\n}\nfunction formatPhoneNumber(phoneNumber) {\n  // Remove espaços e traços usando expressão regular\n  const formattedNumber = phoneNumber.replace(/[\\s-]/g, '');\n  \n  return formattedNumber;\n}\n\n\n\n$input.item.json.dataAgendado = formatDate(agendado)\n$input.item.json.horaAgendado = formatTime(agendado)\n$input.item.json.whatsapp = formatPhoneNumber(whats)\n\nreturn $input.item;"
      },
      "id": "efec1db3-ab62-4097-8f69-b53bd8694b9c",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        360
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1icd69OM-M58iHaq_XxAWAdhru2mMYn0HtzJu6SOPEo0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "OUTUBRO/2023",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1icd69OM-M58iHaq_XxAWAdhru2mMYn0HtzJu6SOPEo0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefone",
              "lookupValue": "={{ $json.whatsapp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ffcfd0ed-a144-40ad-830f-e3b825324229",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        940,
        360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "33ztsdGxSdMjeg4z",
          "name": "Google - Odonto Vida"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Google Sheets').item.json.Telefone }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "db07310f-e890-4b97-b82e-dbce6d598352",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        360
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1icd69OM-M58iHaq_XxAWAdhru2mMYn0HtzJu6SOPEo0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "OUTUBRO/2023",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1icd69OM-M58iHaq_XxAWAdhru2mMYn0HtzJu6SOPEo0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $json.whatsapp }}",
            "STATUS": "Agendado",
            "Agendou Avaliação? ": "SIM",
            "Data da Avaliação": "={{ $json.dataAvaliacao }}",
            "Hora da Avaliação": "={{ $json.horaAvaliacao }}",
            "Lembrou Avaliação?": "NÃO",
            "Compareceu na Avaliação?": "------------",
            "Fechou?": "------------",
            "Valor": "------------"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Data de Contato",
              "displayName": "Data de Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agendou Avaliação? ",
              "displayName": "Agendou Avaliação? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Procedimento",
              "displayName": "Procedimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Avaliação",
              "displayName": "Data da Avaliação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora da Avaliação",
              "displayName": "Hora da Avaliação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrou Avaliação?",
              "displayName": "Lembrou Avaliação?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Compareceu na Avaliação?",
              "displayName": "Compareceu na Avaliação?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fechou?",
              "displayName": "Fechou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "ae7a9fd5-2f7f-4ba5-a9f9-54a2b6144d62",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1720,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "33ztsdGxSdMjeg4z",
          "name": "Google - Odonto Vida"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $('Calendly Trigger').item.json.payload.name }}"
            },
            {
              "name": "whatsapp",
              "value": "={{ $('Code').item.json.whatsapp }}"
            },
            {
              "name": "dataAvaliacao",
              "value": "={{ $('Code').item.json.dataAgendado }}"
            },
            {
              "name": "horaAvaliacao",
              "value": "={{ $('Code').item.json.horaAgendado }}"
            },
            {
              "name": "Procedimento",
              "value": "Implante | Prótese"
            }
          ]
        },
        "options": {}
      },
      "id": "fac9a7bf-c8d8-457d-bf1e-1b8e229ce566",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1320,
        360
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1icd69OM-M58iHaq_XxAWAdhru2mMYn0HtzJu6SOPEo0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "OUTUBRO/2023",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1icd69OM-M58iHaq_XxAWAdhru2mMYn0HtzJu6SOPEo0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Contato": "={{ $json.hoje }}",
            "Nome": "={{ $json.nome }}",
            "Telefone": "={{ $json.whatsapp }}",
            "Agendou Avaliação? ": "SIM",
            "Data da Avaliação": "={{ $json.dataAvaliacao }}",
            "Hora da Avaliação": "={{ $json.horaAvaliacao }}",
            "Lembrou Avaliação?": "NÃO",
            "Compareceu na Avaliação?": "------------",
            "Fechou?": "------------",
            "Valor": "------------",
            "STATUS": "Agendado"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data de Contato",
              "displayName": "Data de Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agendou Avaliação? ",
              "displayName": "Agendou Avaliação? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Procedimento",
              "displayName": "Procedimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Avaliação",
              "displayName": "Data da Avaliação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora da Avaliação",
              "displayName": "Hora da Avaliação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrou Avaliação?",
              "displayName": "Lembrou Avaliação?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Compareceu na Avaliação?",
              "displayName": "Compareceu na Avaliação?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fechou?",
              "displayName": "Fechou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "26d37236-7af5-4266-b078-c14f2b476a46",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1720,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "33ztsdGxSdMjeg4z",
          "name": "Google - Odonto Vida"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const date = new Date()\n\nfunction formatDateTime(dateTimeString) {\n  // Cria um objeto Date a partir da string ISO 8601\n  const date = new Date(dateTimeString);\n\n  // Extrai os componentes da data e hora no fuso horário local\n  const year = date.getFullYear();\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const day = String(date.getDate()).padStart(2, '0');\n  const hours = String(date.getHours()).padStart(2, '0');\n  const minutes = String(date.getMinutes()).padStart(2, '0');\n\n  // Monta a string formatada\n\n  const hoursFor = hours-4\n\n  if(hoursFor >= -4 && hoursFor <= 0){\n    const formattedDateTime = `${year}-${month}-${day} ${24+hoursFor}:${minutes}`;\n    return formattedDateTime;\n  }else{\n    const formattedDateTime = `${year}-${month}-${day} ${hours-4}:${minutes}`;\n    return formattedDateTime;\n  }\n}\n\n$input.item.json.hoje = formatDateTime(date);\n\nreturn $input.item;"
      },
      "id": "d6ec5809-2611-44cc-98bc-1e271b3ed760",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        360
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Calendly Trigger": {}
  },
  "tags": [
    {
      "createdAt": "2023-10-10T01:40:35.294Z",
      "updatedAt": "2023-10-10T01:40:35.294Z",
      "id": "YeXFRAnvLXlIp4mp",
      "name": "OdontoVida"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-02-13T21:17:35.046Z",
  "versionId": "5415db1e-80e2-4817-a5f1-9ae96f9a57df"
}