workflows/Calendly Canceled -> Planilha.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-10T14:21:45.605Z",
  "id": "qIFO1R5sm3JmAwfz",
  "meta": null,
  "name": "Calendly Canceled -> Planilha",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendly-cancel",
        "options": {}
      },
      "id": "6ca19dd1-9af5-4953-8735-23aaa39480d6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        480
      ],
      "webhookId": "0ddb1bff-e8ee-47a0-bc7c-6886ea8cfbb0"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const whats = $('Webhook').item.json.body.whatsapp\n\nfunction formatPhoneNumber(phoneNumber) {\n  // Remove espaços e traços usando expressão regular\n  const formattedNumber = phoneNumber.replace(/[\\s-]/g, '');\n  \n  return formattedNumber;\n}\n\n$input.item.json.whatsapp = formatPhoneNumber(whats)\n\nreturn $input.item;"
      },
      "id": "781c01ff-219e-4a55-a0b0-58a9c815ed6f",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        480
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1icd69OM-M58iHaq_XxAWAdhru2mMYn0HtzJu6SOPEo0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "OUTUBRO/2023",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1icd69OM-M58iHaq_XxAWAdhru2mMYn0HtzJu6SOPEo0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefone",
              "lookupValue": "={{ $json.whatsapp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b5acaa05-7c6b-4eee-a017-5a0f9f7d0650",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        820,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "33ztsdGxSdMjeg4z",
          "name": "Google - Odonto Vida"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Google Sheets3').item.json.Telefone }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "e0d865a8-1049-4b15-9514-c7d1888405ec",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1020,
        480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1icd69OM-M58iHaq_XxAWAdhru2mMYn0HtzJu6SOPEo0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "OUTUBRO/2023",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1icd69OM-M58iHaq_XxAWAdhru2mMYn0HtzJu6SOPEo0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $json.Telefone }}",
            "Data da Avaliação": "------------",
            "Hora da Avaliação": "------------",
            "STATUS": "Cancelado"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Data de Contato",
              "displayName": "Data de Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agendou Avaliação? ",
              "displayName": "Agendou Avaliação? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Procedimento",
              "displayName": "Procedimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Avaliação",
              "displayName": "Data da Avaliação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora da Avaliação",
              "displayName": "Hora da Avaliação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrou Avaliação?",
              "displayName": "Lembrou Avaliação?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Compareceu na Avaliação?",
              "displayName": "Compareceu na Avaliação?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fechou?",
              "displayName": "Fechou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "b84268c5-f232-4721-bf39-5e0e5db3c5db",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1280,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "33ztsdGxSdMjeg4z",
          "name": "Google - Odonto Vida"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-10T14:21:56.157Z",
  "versionId": "bafbeb3b-bc66-4e8e-8ca5-21e7629272aa"
}