workflows/ChatGPT no Whatsapp.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-17T13:55:28.443Z",
  "id": "12",
  "name": "ChatGPT no Whatsapp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "devzapp",
        "options": {}
      },
      "id": "3657a970-602f-43f2-884f-1ea1d553c7ca",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        260
      ],
      "webhookId": "47e7ecf5-d642-4a30-afa2-f8d7888acac8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.devzapp.com.br/funil/start/execute/63c8c1fe8e4f3f2161d2b23d",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.telefone }}"
            },
            {
              "name": "openai_msg",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "82d0a6b7-f116-4385-8d61-c0e01cc7b1ec",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        260
      ]
    },
    {
      "parameters": {
        "prompt": "={{ $json.body.repostaMensagem }}",
        "options": {
          "maxTokens": 4000,
          "n": 1
        }
      },
      "id": "b209299e-5496-44f0-af4c-1059abfea0ce",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        760,
        260
      ],
      "credentials": {
        "openAiApi": {
          "id": "5",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-03-18T04:41:06.318Z",
  "versionId": "9dbf63bf-8b12-4cf8-aaff-a6913f8ded7f"
}