workflows/Comunidade Novo Ego - Green.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "ANUAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MENSAL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ABANDONO DE CARRINHO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set7": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Set7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set8": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Set8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAGO": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CANCELADO": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGUARDANDO PAY": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "PAGO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CANCELADO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AGUARDANDO PAY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANUAL": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "PAGO1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PAGAMENTO PENDENTE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NÃO PAGO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CANCELADO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAGO1": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAGAMENTO PENDENTE": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NÃO PAGO": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CANCELADO1": {
      "main": [
        [
          {
            "node": "Code12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set9": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Set9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Set10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Set11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code12": {
      "main": [
        [
          {
            "node": "Set12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set10": {
      "main": [
        [
          {
            "node": "Google Sheets10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set11": {
      "main": [
        [
          {
            "node": "Google Sheets11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set12": {
      "main": [
        [
          {
            "node": "Google Sheets12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABANDONO DE CARRINHO": {
      "main": [
        [
          {
            "node": "IF7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code13": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAL": {
      "main": [
        [
          {
            "node": "Code13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code14": {
      "main": [
        [
          {
            "node": "Set14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANUAL1": {
      "main": [
        [
          {
            "node": "Code14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAL1": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set14": {
      "main": [
        [
          {
            "node": "Google Sheets14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF7": {
      "main": [
        [
          {
            "node": "MENSAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ANUAL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets13": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets14": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets12": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets10": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets11": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-01T13:10:38.328Z",
  "id": "37",
  "name": "Comunidade Novo Ego - Green",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "green",
        "options": {}
      },
      "id": "21096394-6918-4612-8a47-1015cf2d7693",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1880,
        3220
      ],
      "webhookId": "18a79fe7-9784-4f63-8016-3f7014288ff4"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.type }}",
        "rules": {
          "rules": [
            {
              "value2": "sale"
            },
            {
              "value2": "contract",
              "output": 1
            },
            {
              "value2": "lead",
              "output": 2
            }
          ]
        }
      },
      "id": "d2afccff-33b5-493a-bbb1-939e7a259412",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2100,
        3220
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.currentStatus }}",
        "rules": {
          "rules": [
            {
              "value2": "paid"
            },
            {
              "value2": "refused",
              "output": 1
            },
            {
              "value2": "waiting_payment",
              "output": 2
            }
          ]
        }
      },
      "id": "32885083-c65d-44f1-8da1-198213806fdb",
      "name": "Switch3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2620,
        2480
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.currentStatus }}",
        "rules": {
          "rules": [
            {
              "value2": "paid"
            },
            {
              "value2": "pending_payment",
              "output": 1
            },
            {
              "value2": "unpaid",
              "output": 2
            },
            {
              "value2": "canceled",
              "output": 3
            }
          ]
        }
      },
      "id": "1bb871ef-6eee-4426-8bf6-4d4d3d049809",
      "name": "Switch4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2620,
        3220
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "PAGO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "ANUAL"
            }
          ]
        },
        "options": {}
      },
      "id": "12143600-9531-4ca2-8c32-27213058dc63",
      "name": "Google Sheets6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3420,
        2320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d73cb7bb-b8ab-4fe5-82b0-3bc6e2d9cdc8",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3220,
        2320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "4b228b18-1ea1-4349-b9a1-d0ba2eeded8c",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3040,
        2320
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "CANCELADA"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "ANUAL"
            }
          ]
        },
        "options": {}
      },
      "id": "4897e73f-aa2c-4913-8da4-b6b24a828eac",
      "name": "Google Sheets7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3420,
        2480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            },
            {
              "name": "problem",
              "value": "={{ $json.body.sale.refused.reason }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a92fa7bf-dfb1-46fb-9266-c07a4fca8e03",
      "name": "Set7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3220,
        2480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "dde43d2b-8f37-465e-a005-23a3ab488c22",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3040,
        2480
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "AGUARDANDO PAGAMENTO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "ANUAL"
            }
          ]
        },
        "options": {}
      },
      "id": "4598d2f5-eb7c-4806-b017-44fdc5829d70",
      "name": "Google Sheets8",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3420,
        2640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            },
            {
              "name": "copyPix",
              "value": "={{ $node.Webhook.json.body.sale.qrcode}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3dfa75aa-80fa-41ef-9d86-e0cf27f4c08b",
      "name": "Set8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3220,
        2640
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "eef75a07-3074-4ee4-95b2-a4e81f6f7312",
      "name": "Code8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3040,
        2640
      ]
    },
    {
      "parameters": {},
      "id": "75831f93-822d-4f27-8f03-09625795c8dd",
      "name": "PAGO",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        2320
      ]
    },
    {
      "parameters": {},
      "id": "807450b4-ff25-43f6-aab8-9c22ba6a4dc0",
      "name": "CANCELADO",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        2480
      ]
    },
    {
      "parameters": {},
      "id": "41f7b7eb-c39a-49f4-bf1b-f7da98a34814",
      "name": "AGUARDANDO PAY",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        2640
      ]
    },
    {
      "parameters": {},
      "id": "0e3468f4-5a1c-4111-80e8-f7c191558a0c",
      "name": "ANUAL",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2380,
        2480
      ]
    },
    {
      "parameters": {},
      "id": "014f0448-fa15-4601-ad0f-5e26f154f9fd",
      "name": "PAGO1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        2960
      ]
    },
    {
      "parameters": {},
      "id": "336b4bb8-9226-4f4b-ab48-78aa51c53644",
      "name": "PAGAMENTO PENDENTE",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        3120
      ]
    },
    {
      "parameters": {},
      "id": "a41fdfb1-0c09-4511-89de-0c06f3ce02d3",
      "name": "CANCELADO1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        3460
      ]
    },
    {
      "parameters": {},
      "id": "af8bfd01-c5c3-423e-a7eb-12a952386bcc",
      "name": "NÃO PAGO",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        3300
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "PAGO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "MENSAL"
            }
          ]
        },
        "options": {}
      },
      "id": "c0c2a89f-b438-4f04-9181-adc9a95f773d",
      "name": "Google Sheets9",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3420,
        2960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9b225857-de4d-4b2a-87c9-76277dba6325",
      "name": "Set9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3220,
        2960
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "8687c796-c2ef-42a5-8e02-9d5498d37859",
      "name": "Code9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3040,
        2960
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "7e5c47e8-c9be-4930-a583-2e92715edd00",
      "name": "Code10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3040,
        3120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "e08e04f9-e7c4-4bde-9524-e6ac30928edf",
      "name": "Code11",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3040,
        3300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "1832fb30-db14-41e2-ae88-fec48a15cd07",
      "name": "Code12",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3040,
        3460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3798a41a-49fb-4df2-858a-ec6166344e38",
      "name": "Set10",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3220,
        3120
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7038ca98-11d9-4b8f-a6c2-ca32777678d0",
      "name": "Set11",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3220,
        3300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9259b8ef-a02c-4d7d-8cf1-d5153a95c1e4",
      "name": "Set12",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3220,
        3460
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "PAGAMENTO PENDENTE"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "MENSAL"
            }
          ]
        },
        "options": {}
      },
      "id": "bbe778db-3d0f-4e64-9b75-dc5efef01503",
      "name": "Google Sheets10",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3420,
        3120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "NÃO PAGO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "MENSAL"
            }
          ]
        },
        "options": {}
      },
      "id": "fca48bd5-ec6c-4583-9d14-917e5bffa958",
      "name": "Google Sheets11",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3420,
        3300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "CANCELADO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "MENSAL"
            }
          ]
        },
        "options": {}
      },
      "id": "df4acdf5-13a2-435c-a1f9-25647c9bfed8",
      "name": "Google Sheets12",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3420,
        3460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {},
      "id": "fdef849b-8186-467a-acff-46d16dd7e0bb",
      "name": "ABANDONO DE CARRINHO",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2380,
        3880
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "a71ff09a-27a0-4aac-b01c-5131e308f82e",
      "name": "Code13",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3040,
        3800
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "ABANDONO DE CARRINHO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "MENSAL"
            }
          ]
        },
        "options": {}
      },
      "id": "badbcad0-eed0-4608-9019-ce02362bdb64",
      "name": "Google Sheets13",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3420,
        3800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {},
      "id": "301a3d3e-948a-4d62-a42e-1ea87a5dc927",
      "name": "MENSAL",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        3800
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "788df32a-a4d4-4394-a4e6-1e7a78cb821d",
      "name": "Code14",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3040,
        3980
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.lead.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.lead.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.body.lead.cellphone  }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.lead.document }}"
            },
            {
              "name": "checkOut",
              "value": "={{ $json.body.link_checkout }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d7d2c963-5a7a-4a8d-bdbb-9481fb35be84",
      "name": "Set14",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3220,
        3980
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "ABANDONO DE CARRINHO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "ANUAL"
            }
          ]
        },
        "options": {}
      },
      "id": "715379db-711b-4e1c-a510-3a2562ea89f8",
      "name": "Google Sheets14",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3420,
        3980
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {},
      "id": "6d0ae0ed-d4fa-4a08-bd5d-2802dbca09ba",
      "name": "ANUAL1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        3980
      ]
    },
    {
      "parameters": {},
      "id": "98664416-4ac4-4030-960a-3c7ebeea3bc3",
      "name": "MENSAL1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2380,
        3220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.product.name }}",
              "value2": "Mensal | Comunidade Novo Ego"
            }
          ]
        }
      },
      "id": "e20e32b6-4244-4aa4-b22d-08f25bc905aa",
      "name": "IF7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2620,
        3880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=🎉 Bem-vindo(a) à Comunidade Novo Ego! 🎉\n\nEstamos animados em tê-lo(a) a bordo! Acesse nossa área de membros estilo Netflix para transformar sua vida e relacionamentos com conteúdo exclusivo e recursos práticos. ✨🚀\n\n📧 E-mail de acesso: {{ $json.Email }}\n🔗 Plataforma: https://comunidadenovoego.astronmembers.com/\n\nDescubra um tesouro de conhecimento, interaja com outros membros e receba apoio em sua jornada de autodesenvolvimento e relacionamentos saudáveis.\n\nPrepare-se para uma jornada incrível!\n\nEquipe da Comunidade Novo Ego 🌟🤝"
            }
          ]
        },
        "options": {}
      },
      "id": "a8ddf0d4-80ef-4be4-ba7b-054c01541ad8",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3640,
        2320
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "fab44eb6-2a48-4247-ad5e-48528f66595a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3820,
        2320
      ],
      "webhookId": "177d0f5a-b815-49bb-ae8a-e6ef3080d4b0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n    \"groupId\": \"120363142746754193-group\",\n    \"phones\": [\"{{ $node[\"Set6\"].json[\"telefone\"] }}\"]\n  }\n",
        "options": {}
      },
      "id": "b6972c94-1628-41b0-bef9-bb816f72eff9",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4000,
        2320
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "0b919d11-0f91-454e-92bc-b98ecea202aa",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4060,
        2020
      ],
      "webhookId": "e888607b-d6b0-4e37-ae38-66f180b72ea6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363141429632450-group"
            },
            {
              "name": "message",
              "value": "=🎉 Seja Bem-vindo(a) LUCAS ao Grupo da Comunidade Novo Ego! 🎉\n\nEste é o grupo de notificaç\n\nEquipe da Comunidade Novo Ego 🌟🤝"
            }
          ]
        },
        "options": {}
      },
      "id": "15d5ad70-e63f-457a-8247-aff55da65ec3",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4240,
        2020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=🚫 Problema com o cartão de crédito? \nNão se preocupe! Por favor, verifique suas informações de pagamento e tente novamente.\n\nPossivel problema: *{{ $json.problem }}*\n\nSe precisar de ajuda, estamos aqui para você. Equipe da Comunidade Novo Ego."
            }
          ]
        },
        "options": {}
      },
      "id": "876248be-6dfb-4760-9ba4-a45c76ac1fc3",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3640,
        2480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=Olá, {{ $json.Nome.split(\" \")[0] }}\n\nAgradecemos por escolher a Comunidade Novo Ego! Estamos aguardando o pagamento da sua assinatura para que você possa ter acesso a mais de 150 aulas, materiais de apoio e eventos especiais com o Dr. Fernando Silva.\n\nPara concluir seu pagamento e começar a transformar sua vida e relacionamentos, só copiar e colar esse codigo no seu banco via PIX👇: "
            }
          ]
        },
        "options": {}
      },
      "id": "89fdca1a-9962-445d-b67c-a2c19f99126b",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3640,
        2640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=👋 Olá novamente!\n\nNotamos que você deixou algo importante. Percebemos que seu carrinho de compras na Comunidade Novo Ego foi abandonado. Não queremos que você perca a oportunidade de transformar sua vida e relacionamentos.\n\nLembre-se de que ao adquirir a assinatura da Comunidade Novo Ego, você terá acesso a mais de 150 aulas, materiais de apoio e eventos especiais com o Dr. Fernando Silva.\n\nSe você tiver alguma dúvida ou se precisar de ajuda para finalizar sua compra, estaremos à disposição para ajudar. Não deixe essa chance passar!\n\nClique aqui para retornar ao seu carrinho de compras e concluir a sua assinatura: \n{{ $json.checkOut }}\n\nEsperamos recebê-lo(a) na Comunidade Novo Ego e ajudá-lo(a) a construir uma nova vida repleta de relacionamentos saudáveis e felizes.\n\nAtenciosamente,\nEquipe da Comunidade Novo Ego 🌟🤝 "
            }
          ]
        },
        "options": {}
      },
      "id": "681d16db-5c17-4adb-91b1-cdc57ec513a3",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3640,
        3800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=👋 Olá novamente!\n\nNotamos que você deixou algo importante. Percebemos que seu carrinho de compras na Comunidade Novo Ego foi abandonado. Não queremos que você perca a oportunidade de transformar sua vida e relacionamentos.\n\nLembre-se de que ao adquirir a assinatura da Comunidade Novo Ego, você terá acesso a mais de 150 aulas, materiais de apoio e eventos especiais com o Dr. Fernando Silva.\n\nSe você tiver alguma dúvida ou se precisar de ajuda para finalizar sua compra, estaremos à disposição para ajudar. Não deixe essa chance passar!\n\nClique aqui para retornar ao seu carrinho de compras e concluir a sua assinatura: \n{{ $json.checkOut }}\n\nEsperamos recebê-lo(a) na Comunidade Novo Ego e ajudá-lo(a) a construir uma nova vida repleta de relacionamentos saudáveis e felizes.\n\nAtenciosamente,\nEquipe da Comunidade Novo Ego 🌟🤝 "
            }
          ]
        },
        "options": {}
      },
      "id": "30316b35-4ffd-4316-a851-ca9f1b30b8cc",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3640,
        3980
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.lead.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.lead.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.body.lead.cellphone  }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.lead.document }}"
            },
            {
              "name": "checkOut",
              "value": "={{ $json.body.link_checkout }}"
            }
          ]
        },
        "options": {}
      },
      "id": "484aff95-755e-444b-ab45-5fa42afb3041",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3220,
        3800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $node.Set8.json.telefone }}"
            },
            {
              "name": "message",
              "value": "={{ $node.Set8.json.copyPix }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f55c8fb9-6894-4217-94fa-00039b396cae",
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3960,
        2640
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "9dd189a0-99cd-473a-b093-6f350d5528c7",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3820,
        2640
      ],
      "webhookId": "b812321b-fe56-40ea-9843-1c238968dfea"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "d6b1f5d5-60a5-4a34-81a2-e71ca8893ca6",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4180,
        2640
      ],
      "webhookId": "91bce5f8-6e34-435c-b1bd-e7cff9fe8e6e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $node.Set8.json.telefone }}"
            },
            {
              "name": "message",
              "value": "=Se precisar de qualquer assistência durante o processo, estamos à disposição para ajudar. Não perca a oportunidade de se juntar a nós!\n\nEquipe da Comunidade Novo Ego 🌟🤝"
            }
          ]
        },
        "options": {}
      },
      "id": "bad4e3d1-c361-47b9-8fbb-96e712fe3bc7",
      "name": "HTTP Request8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4360,
        2640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=🎉 Bem-vindo(a) à Comunidade Novo Ego! 🎉\n\nEstamos animados em tê-lo(a) a bordo! Acesse nossa área de membros estilo Netflix para transformar sua vida e relacionamentos com conteúdo exclusivo e recursos práticos. ✨🚀\n\n📧 E-mail de acesso: {{ $json.Email }}\n🔗 Plataforma: https://comunidadenovoego.astronmembers.com/\n\nDescubra um tesouro de conhecimento, interaja com outros membros e receba apoio em sua jornada de autodesenvolvimento e relacionamentos saudáveis.\n\nPrepare-se para uma jornada incrível!\n\nEquipe da Comunidade Novo Ego 🌟🤝"
            }
          ]
        },
        "options": {}
      },
      "id": "a1838bf8-43fb-458d-a5bf-dbe5aab280f0",
      "name": "HTTP Request9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3640,
        2960
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "34888887-8dbf-4e34-b9f9-69031cc44340",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3820,
        2960
      ],
      "webhookId": "177d0f5a-b815-49bb-ae8a-e6ef3080d4b0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n    \"groupId\": \"120363142746754193-group\",\n    \"phones\": [\"{{ $node[\"Set9\"].json[\"telefone\"] }}\"]\n  }\n",
        "options": {}
      },
      "id": "9b526917-d090-4df6-843a-5cb8572f16a7",
      "name": "HTTP Request10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4000,
        2960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=🚫 Problema com o cartão de crédito? \nNão se preocupe! Por favor, verifique suas informações de pagamento e tente novamente.\n\nPossivel problema: *{{ $json.problem }}*\n\nSe precisar de ajuda, estamos aqui para você. Equipe da Comunidade Novo Ego."
            }
          ]
        },
        "options": {}
      },
      "id": "17d37d0e-7e91-4122-8d6e-e0ceb4648f0c",
      "name": "HTTP Request11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3640,
        3460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=Olá, {{ $json.Nome }}\n\nLembramos que o pagamento da sua assinatura mensal na Comunidade Novo Ego está pendente.\n\nPara garantir a continuidade do seu acesso, por favor, efetue o pagamento da sua assinatura o mais breve possível.\n\nEstamos aqui para ajudar caso precise de suporte ou tenha alguma dúvida. Não perca a oportunidade de continuar sua jornada de transformação conosco!\n\nEquipe da Comunidade Novo Ego 🌟🤝"
            }
          ]
        },
        "options": {}
      },
      "id": "fc1bee3c-b0a4-4039-a62c-dcc5038dfa7a",
      "name": "HTTP Request12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3640,
        3120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=🔔⚠️ Atenção! Seu acesso à Comunidade Novo Ego está suspenso! ⚠️🔔\n\nOlá {{ $json.Nome }}! Infelizmente, seu acesso ao grupo do WhatsApp e à plataforma da Comunidade Novo Ego foi temporariamente suspenso devido ao não pagamento da sua assinatura. 😔❌\n\nPara recuperar seu acesso imediatamente e continuar desfrutando de todo o conteúdo exclusivo, suporte e transformação que oferecemos, pedimos que renove sua assinatura clicando no link abaixo e efetue o pagamento: 🔄💳\n\nhttps://payfast.greenn.com.br/23346\n\nAssim que recebermos a confirmação do seu pagamento, seu acesso será restaurado, permitindo que você retome sua jornada de autodesenvolvimento e relacionamentos saudáveis. Estamos aqui para apoiá-lo(a) em cada passo! 🌟✨\n\nAgradecemos sua compreensão e aguardamos ansiosamente pela sua renovação para que você possa voltar a construir relacionamentos incríveis conosco!\n\nEquipe da Comunidade Novo Ego 🙌🤝"
            }
          ]
        },
        "options": {}
      },
      "id": "031263c1-19bd-4bc4-879c-56af0eaf84c4",
      "name": "HTTP Request13",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3640,
        3300
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "ce637b67-ced5-4f6b-8a22-cf69471cb114",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3820,
        3300
      ],
      "webhookId": "484e03eb-5e94-4295-8cca-e2d22df48608"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/remove-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n    \"groupId\": \"120363142746754193-group\",\n    \"phones\": [\"{{ $node[\"Set11\"].json[\"telefone\"] }}\"]\n  }\n",
        "options": {}
      },
      "id": "ca2ec39d-4e8b-4de1-bc7f-801b526281ea",
      "name": "HTTP Request14",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4000,
        3300
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-06-21T16:29:34.713Z",
  "versionId": "54433ee5-0102-4743-930f-583707891962"
}