workflows/Comunidade Novo Ego - Green.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "ANUAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MENSAL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ABANDONO DE CARRINHO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set7": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Set7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set8": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Set8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAGO": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CANCELADO": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGUARDANDO PAY": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "PAGO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CANCELADO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AGUARDANDO PAY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANUAL": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "PAGO1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PAGAMENTO PENDENTE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NÃO PAGO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CANCELADO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAGO1": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAGAMENTO PENDENTE": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NÃO PAGO": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CANCELADO1": {
      "main": [
        [
          {
            "node": "Code12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set9": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Set9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Set10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Set11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code12": {
      "main": [
        [
          {
            "node": "Set12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set10": {
      "main": [
        [
          {
            "node": "Google Sheets10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set11": {
      "main": [
        [
          {
            "node": "Google Sheets11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set12": {
      "main": [
        [
          {
            "node": "Google Sheets12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABANDONO DE CARRINHO": {
      "main": [
        [
          {
            "node": "IF7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code13": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAL": {
      "main": [
        [
          {
            "node": "Code13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code14": {
      "main": [
        [
          {
            "node": "Set14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANUAL1": {
      "main": [
        [
          {
            "node": "Code14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAL1": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set14": {
      "main": [
        [
          {
            "node": "Google Sheets14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF7": {
      "main": [
        [
          {
            "node": "MENSAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ANUAL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets13": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets14": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets12": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets10": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets11": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-30T23:17:11.415Z",
  "id": "hCdeGevhSsaV8O9k",
  "meta": null,
  "name": "Comunidade Novo Ego - Green",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "green",
        "options": {}
      },
      "id": "2007770e-d191-4fdd-ab15-84915a778586",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1880,
        1480
      ],
      "webhookId": "18a79fe7-9784-4f63-8016-3f7014288ff4"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.type }}",
        "rules": {
          "rules": [
            {
              "value2": "sale"
            },
            {
              "value2": "contract",
              "output": 1
            },
            {
              "value2": "lead",
              "output": 2
            }
          ]
        }
      },
      "id": "55b7df7a-6d8e-4ba5-a64c-9e8cee563c20",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1660,
        1480
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.currentStatus }}",
        "rules": {
          "rules": [
            {
              "value2": "paid"
            },
            {
              "value2": "refused",
              "output": 1
            },
            {
              "value2": "waiting_payment",
              "output": 2
            }
          ]
        }
      },
      "id": "1c385f46-2cd3-4b77-801c-f742dfdde1dd",
      "name": "Switch3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1140,
        740
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.currentStatus }}",
        "rules": {
          "rules": [
            {
              "value2": "paid"
            },
            {
              "value2": "pending_payment",
              "output": 1
            },
            {
              "value2": "unpaid",
              "output": 2
            },
            {
              "value2": "canceled",
              "output": 3
            }
          ]
        }
      },
      "id": "bc8ddcc4-2edb-4356-9a46-45b4233c4dde",
      "name": "Switch4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1140,
        1480
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "PAGO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "ANUAL"
            }
          ]
        },
        "options": {}
      },
      "id": "fc73551f-85d1-4dd1-8d91-e9b973da435e",
      "name": "Google Sheets6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        580
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e2c15ee-4118-40d2-bb55-73bc5a4fcf19",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        580
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "5d1a34cc-5e9e-4133-b0e7-85f431db4a5d",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -720,
        580
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "CANCELADA"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "ANUAL"
            }
          ]
        },
        "options": {}
      },
      "id": "86968aa9-54b4-4577-97f7-6cf53fa9cee5",
      "name": "Google Sheets7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        740
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            },
            {
              "name": "problem",
              "value": "={{ $json.body.sale.refused.reason }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d38a542-82b3-43eb-b6d3-2f7606593ef8",
      "name": "Set7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        740
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "c9c93f90-83ae-4c19-8746-3cda284a6bd8",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -720,
        740
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "AGUARDANDO PAGAMENTO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "ANUAL"
            }
          ]
        },
        "options": {}
      },
      "id": "1795d948-8c20-4cd7-a595-ce54c42e5ed8",
      "name": "Google Sheets8",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        900
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            },
            {
              "name": "copyPix",
              "value": "={{ $node.Webhook.json.body.sale.qrcode}}"
            }
          ]
        },
        "options": {}
      },
      "id": "45d60f0f-0c2c-4a3d-851a-eba7c49a9400",
      "name": "Set8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "e93b032f-d761-46ff-95d6-33c029e655e4",
      "name": "Code8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -720,
        900
      ]
    },
    {
      "parameters": {},
      "id": "447b3ba2-e796-491d-9a88-77d505ec90eb",
      "name": "PAGO",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -900,
        580
      ]
    },
    {
      "parameters": {},
      "id": "b2c266f2-1436-426c-af0b-d66814cfb718",
      "name": "CANCELADO",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -900,
        740
      ]
    },
    {
      "parameters": {},
      "id": "a26321a4-9a32-497e-adf1-95bba64bec3c",
      "name": "AGUARDANDO PAY",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -900,
        900
      ]
    },
    {
      "parameters": {},
      "id": "c8489422-0c5e-4b69-889a-579a472b2011",
      "name": "ANUAL",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1380,
        740
      ]
    },
    {
      "parameters": {},
      "id": "9fd441d3-1a45-4cf2-ab22-0908fe691245",
      "name": "PAGO1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -900,
        1220
      ]
    },
    {
      "parameters": {},
      "id": "881debd2-9d29-4ee9-beb1-11ceb9580641",
      "name": "PAGAMENTO PENDENTE",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -900,
        1380
      ]
    },
    {
      "parameters": {},
      "id": "e374e533-9e31-4ec8-b075-f570f028b87d",
      "name": "CANCELADO1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -900,
        1720
      ]
    },
    {
      "parameters": {},
      "id": "f322d4e0-a71d-41ba-afc5-2412c82ad918",
      "name": "NÃO PAGO",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -900,
        1560
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "PAGO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "MENSAL"
            }
          ]
        },
        "options": {}
      },
      "id": "96f31c2f-0649-4f92-a6ae-278523e8f25e",
      "name": "Google Sheets9",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        1220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89ea3d9d-a016-4cf9-aa69-bbb55a9008b3",
      "name": "Set9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        1220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "57243b88-9495-43c4-b839-b1c9339e8e53",
      "name": "Code9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -720,
        1220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "beb83d2b-2d24-4537-89eb-ea2c4c651aa7",
      "name": "Code10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -720,
        1380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "79ce9175-a928-4d00-bece-89764c19d629",
      "name": "Code11",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -720,
        1560
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "9c5de84e-355d-4f43-92c0-7ee70499968f",
      "name": "Code12",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -720,
        1720
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd285d8f-27f4-4521-8fc9-1e881dad514d",
      "name": "Set10",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        1380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            }
          ]
        },
        "options": {}
      },
      "id": "299c22f0-c79a-4b90-b043-5f00872a79a4",
      "name": "Set11",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        1560
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.client.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.client.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node.Webhook.json.body.client.cellphone.slice(1, 6) + $node.Webhook.json.body.client.cellphone.slice(7, 15) }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.client.document }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fe6e5322-0889-4db7-aacd-3f92495c9bb9",
      "name": "Set12",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        1720
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "PAGAMENTO PENDENTE"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "MENSAL"
            }
          ]
        },
        "options": {}
      },
      "id": "4f8b7c5a-6eb4-47a0-b916-ff06a3ac887d",
      "name": "Google Sheets10",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        1380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "NÃO PAGO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "MENSAL"
            }
          ]
        },
        "options": {}
      },
      "id": "6c657486-1b2b-420c-acbe-701aceaba0ec",
      "name": "Google Sheets11",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        1560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "CANCELADO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "MENSAL"
            }
          ]
        },
        "options": {}
      },
      "id": "445fae26-b4e3-4f80-b42e-d11a64f8a909",
      "name": "Google Sheets12",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        1720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {},
      "id": "b0b7191f-dd05-4463-9e4e-07ee41858db2",
      "name": "ABANDONO DE CARRINHO",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1380,
        2140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "ddfe211a-7273-4856-a407-d217054657f5",
      "name": "Code13",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -720,
        2060
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "ABANDONO DE CARRINHO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "MENSAL"
            }
          ]
        },
        "options": {}
      },
      "id": "06a4724f-73a4-464f-acff-1b4ee6c90149",
      "name": "Google Sheets13",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        2060
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {},
      "id": "87ca587f-e13b-40b8-8a30-3d0490b6c132",
      "name": "MENSAL",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -900,
        2060
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const hoje = new Date();\nconst dia = hoje.getDate().toString().padStart(2, '0');\nconst mes = (hoje.getMonth() + 1).toString().padStart(2, '0');\nconst ano = hoje.getFullYear();\n\nconst dataFormatada = `${dia}/${mes}/${ano}`;\n$input.item.json.date = dataFormatada;\n\nreturn $input.item;"
      },
      "id": "96a94a42-6b7c-44ab-9bb2-972f57aaa283",
      "name": "Code14",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -720,
        2240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.lead.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.lead.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.body.lead.cellphone  }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.lead.document }}"
            },
            {
              "name": "checkOut",
              "value": "={{ $json.body.link_checkout }}"
            }
          ]
        },
        "options": {}
      },
      "id": "05cdeac2-f5c0-45f0-9a83-8c9cb3a4904f",
      "name": "Set14",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        2240
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KUtQIQGGbvhlvP5EYmm_Zp5rIWSLN8s7SV3ZSUfzfoE/edit#gid=0"
        },
        "columnToMatchOn": "E-MAIL",
        "valueToMatchOn": "={{ $json.Email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INSCRIÇÃO",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "NOME",
              "fieldValue": "={{ $json.Nome }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "column": "CPF",
              "fieldValue": "={{ $json.cpf }}"
            },
            {
              "column": "STATUS",
              "fieldValue": "ABANDONO DE CARRINHO"
            },
            {
              "column": "TIPO ASSINATURA",
              "fieldValue": "ANUAL"
            }
          ]
        },
        "options": {}
      },
      "id": "d671f7e2-e3a5-4533-ab8f-90356c02d2ca",
      "name": "Google Sheets14",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -340,
        2240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {},
      "id": "c594be57-cd1d-458b-a384-bbee8d5e3e58",
      "name": "ANUAL1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -900,
        2240
      ]
    },
    {
      "parameters": {},
      "id": "605f6e78-5029-4fe8-b265-a632a6b540c9",
      "name": "MENSAL1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1380,
        1480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.product.name }}",
              "value2": "Mensal | Comunidade Novo Ego"
            }
          ]
        }
      },
      "id": "d12c0d36-e137-4152-a15e-3841a9ad93e1",
      "name": "IF7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1140,
        2140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=🎉 Bem-vindo(a) à Comunidade Novo Ego! 🎉\n\nEstamos animados em tê-lo(a) a bordo! Acesse nossa área de membros estilo Netflix para transformar sua vida e relacionamentos com conteúdo exclusivo e recursos práticos. ✨🚀\n\n📧 E-mail de acesso: {{ $json.Email }}\n🔗 Plataforma: https://comunidadenovoego.astronmembers.com/\n\nDescubra um tesouro de conhecimento, interaja com outros membros e receba apoio em sua jornada de autodesenvolvimento e relacionamentos saudáveis.\n\nPrepare-se para uma jornada incrível!\n\nEquipe da Comunidade Novo Ego 🌟🤝"
            }
          ]
        },
        "options": {}
      },
      "id": "fb88042d-575c-4a02-a88e-58609e3e7f4f",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -120,
        580
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "83f39da9-3784-4182-86ff-2d07c24919e0",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        60,
        580
      ],
      "webhookId": "177d0f5a-b815-49bb-ae8a-e6ef3080d4b0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n    \"groupId\": \"120363142746754193-group\",\n    \"phones\": [\"{{ $node[\"Set6\"].json[\"telefone\"] }}\"]\n  }\n",
        "options": {}
      },
      "id": "7807f7b5-86f5-4a02-af0c-08ca83b7eb65",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        240,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=🚫 Problema com o cartão de crédito? \nNão se preocupe! Por favor, verifique suas informações de pagamento e tente novamente.\n\nPossivel problema: *{{ $json.problem }}*\n\nSe precisar de ajuda, estamos aqui para você. Equipe da Comunidade Novo Ego."
            }
          ]
        },
        "options": {}
      },
      "id": "397a6903-650f-4ecd-8d81-2f07c33d41d3",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -120,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=Olá, {{ $json.Nome.split(\" \")[0] }}\n\nAgradecemos por escolher a Comunidade Novo Ego! Estamos aguardando o pagamento da sua assinatura para que você possa ter acesso a mais de 150 aulas, materiais de apoio e eventos especiais com o Dr. Fernando Silva.\n\nPara concluir seu pagamento e começar a transformar sua vida e relacionamentos, só copiar e colar esse codigo no seu banco via PIX👇: "
            }
          ]
        },
        "options": {}
      },
      "id": "0e06fa6c-0e1a-4fb2-99dd-38a9035ebdfa",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -120,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=👋 Olá novamente!\n\nNotamos que você deixou algo importante. Percebemos que seu carrinho de compras na Comunidade Novo Ego foi abandonado. Não queremos que você perca a oportunidade de transformar sua vida e relacionamentos.\n\nLembre-se de que ao adquirir a assinatura da Comunidade Novo Ego, você terá acesso a mais de 150 aulas, materiais de apoio e eventos especiais com o Dr. Fernando Silva.\n\nSe você tiver alguma dúvida ou se precisar de ajuda para finalizar sua compra, estaremos à disposição para ajudar. Não deixe essa chance passar!\n\nClique aqui para retornar ao seu carrinho de compras e concluir a sua assinatura: \n{{ $json.checkOut }}\n\nEsperamos recebê-lo(a) na Comunidade Novo Ego e ajudá-lo(a) a construir uma nova vida repleta de relacionamentos saudáveis e felizes.\n\nAtenciosamente,\nEquipe da Comunidade Novo Ego 🌟🤝 "
            }
          ]
        },
        "options": {}
      },
      "id": "c4f565f4-818f-4de8-b476-538d41765402",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -120,
        2060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=👋 Olá novamente!\n\nNotamos que você deixou algo importante. Percebemos que seu carrinho de compras na Comunidade Novo Ego foi abandonado. Não queremos que você perca a oportunidade de transformar sua vida e relacionamentos.\n\nLembre-se de que ao adquirir a assinatura da Comunidade Novo Ego, você terá acesso a mais de 150 aulas, materiais de apoio e eventos especiais com o Dr. Fernando Silva.\n\nSe você tiver alguma dúvida ou se precisar de ajuda para finalizar sua compra, estaremos à disposição para ajudar. Não deixe essa chance passar!\n\nClique aqui para retornar ao seu carrinho de compras e concluir a sua assinatura: \n{{ $json.checkOut }}\n\nEsperamos recebê-lo(a) na Comunidade Novo Ego e ajudá-lo(a) a construir uma nova vida repleta de relacionamentos saudáveis e felizes.\n\nAtenciosamente,\nEquipe da Comunidade Novo Ego 🌟🤝 "
            }
          ]
        },
        "options": {}
      },
      "id": "89e4876d-e5ed-43d8-8037-216dcd1a9041",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -120,
        2240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $node.Webhook.json.body.lead.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $node.Webhook.json.body.lead.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.body.lead.cellphone  }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node.Webhook.json.body.lead.document }}"
            },
            {
              "name": "checkOut",
              "value": "={{ $json.body.link_checkout }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8a8cadb5-f9b2-45f7-8af4-19bebd07f28f",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        2060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $node.Set8.json.telefone }}"
            },
            {
              "name": "message",
              "value": "={{ $node.Set8.json.copyPix }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eab1415e-270e-45ea-a347-366dd3caead8",
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        200,
        900
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "563e0350-6ef1-4f75-b603-199865d698b8",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        60,
        900
      ],
      "webhookId": "b812321b-fe56-40ea-9843-1c238968dfea"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "d7c41485-d1fd-49ee-97c5-2f6c619d7a8d",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        420,
        900
      ],
      "webhookId": "91bce5f8-6e34-435c-b1bd-e7cff9fe8e6e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $node.Set8.json.telefone }}"
            },
            {
              "name": "message",
              "value": "=Se precisar de qualquer assistência durante o processo, estamos à disposição para ajudar. Não perca a oportunidade de se juntar a nós!\n\nEquipe da Comunidade Novo Ego 🌟🤝"
            }
          ]
        },
        "options": {}
      },
      "id": "32054bdb-53ce-4242-a7cb-73e94c8029ac",
      "name": "HTTP Request8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        600,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=🎉 Bem-vindo(a) à Comunidade Novo Ego! 🎉\n\nEstamos animados em tê-lo(a) a bordo! Acesse nossa área de membros estilo Netflix para transformar sua vida e relacionamentos com conteúdo exclusivo e recursos práticos. ✨🚀\n\n📧 E-mail de acesso: {{ $json.Email }}\n🔗 Plataforma: https://comunidadenovoego.astronmembers.com/\n\nDescubra um tesouro de conhecimento, interaja com outros membros e receba apoio em sua jornada de autodesenvolvimento e relacionamentos saudáveis.\n\nPrepare-se para uma jornada incrível!\n\nEquipe da Comunidade Novo Ego 🌟🤝"
            }
          ]
        },
        "options": {}
      },
      "id": "6e645d17-1184-4d21-9741-26673caaa17f",
      "name": "HTTP Request9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -120,
        1220
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "fd6376e9-0227-4d92-ba05-199996c31062",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        60,
        1220
      ],
      "webhookId": "177d0f5a-b815-49bb-ae8a-e6ef3080d4b0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n    \"groupId\": \"120363142746754193-group\",\n    \"phones\": [\"{{ $node[\"Set9\"].json[\"telefone\"] }}\"]\n  }\n",
        "options": {}
      },
      "id": "97903b45-f84e-4ff8-a83e-59de526aca8f",
      "name": "HTTP Request10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        240,
        1220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=🚫 Problema com o cartão de crédito? \nNão se preocupe! Por favor, verifique suas informações de pagamento e tente novamente.\n\nPossivel problema: *{{ $json.problem }}*\n\nSe precisar de ajuda, estamos aqui para você. Equipe da Comunidade Novo Ego."
            }
          ]
        },
        "options": {}
      },
      "id": "4d9f9928-eda9-4216-8e98-3aeb19cc85d3",
      "name": "HTTP Request11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -120,
        1720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=Olá, {{ $json.Nome }}\n\nLembramos que o pagamento da sua assinatura mensal na Comunidade Novo Ego está pendente.\n\nPara garantir a continuidade do seu acesso, por favor, efetue o pagamento da sua assinatura o mais breve possível.\n\nEstamos aqui para ajudar caso precise de suporte ou tenha alguma dúvida. Não perca a oportunidade de continuar sua jornada de transformação conosco!\n\nEquipe da Comunidade Novo Ego 🌟🤝"
            }
          ]
        },
        "options": {}
      },
      "id": "a2f5f051-13dc-4fbe-ab26-93cc847b9ae2",
      "name": "HTTP Request12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -120,
        1380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "message",
              "value": "=🔔⚠️ Atenção! Seu acesso à Comunidade Novo Ego está suspenso! ⚠️🔔\n\nOlá {{ $json.Nome }}! Infelizmente, seu acesso ao grupo do WhatsApp e à plataforma da Comunidade Novo Ego foi temporariamente suspenso devido ao não pagamento da sua assinatura. 😔❌\n\nPara recuperar seu acesso imediatamente e continuar desfrutando de todo o conteúdo exclusivo, suporte e transformação que oferecemos, pedimos que renove sua assinatura clicando no link abaixo e efetue o pagamento: 🔄💳\n\nhttps://payfast.greenn.com.br/23346\n\nAssim que recebermos a confirmação do seu pagamento, seu acesso será restaurado, permitindo que você retome sua jornada de autodesenvolvimento e relacionamentos saudáveis. Estamos aqui para apoiá-lo(a) em cada passo! 🌟✨\n\nAgradecemos sua compreensão e aguardamos ansiosamente pela sua renovação para que você possa voltar a construir relacionamentos incríveis conosco!\n\nEquipe da Comunidade Novo Ego 🙌🤝"
            }
          ]
        },
        "options": {}
      },
      "id": "58b1532d-2604-4a29-b284-7ee045789d65",
      "name": "HTTP Request13",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -120,
        1560
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "2110788f-0e15-498d-99b7-c2f9c71d5813",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        60,
        1560
      ],
      "webhookId": "484e03eb-5e94-4295-8cca-e2d22df48608"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/remove-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n    \"groupId\": \"120363142746754193-group\",\n    \"phones\": [\"{{ $node[\"Set11\"].json[\"telefone\"] }}\"]\n  }\n",
        "options": {}
      },
      "id": "ab87febe-56af-4e26-885d-bf7e8d847514",
      "name": "HTTP Request14",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        240,
        1560
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-07-30T23:17:21.679Z",
  "versionId": "0f173102-9a6d-4e58-9436-1a70ab947d8e"
}