workflows/Coofe.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-18T05:50:41.658Z",
  "id": "15",
  "name": "Coofe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call",
        "options": {}
      },
      "id": "079ad93e-3208-44d7-9fed-f357736afb18",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        220
      ],
      "webhookId": "8486aa50-89b8-4ccb-b572-04a1cb5a08c1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.body }}",
              "value2": "oie"
            }
          ]
        }
      },
      "id": "d314a59a-88d3-4920-87f8-fd9f1d67dcfa",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        720,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/send-message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.body.from }}"
            },
            {
              "name": "message",
              "value": "oie true"
            }
          ]
        },
        "options": {}
      },
      "id": "fb3519be-f055-4505-90d3-061322c50461",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1020,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/send-message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.body.from }}"
            },
            {
              "name": "message",
              "value": "oie False"
            }
          ]
        },
        "options": {}
      },
      "id": "c66cea91-f3de-49a6-ad6c-e0c709071b2a",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1020,
        300
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-03-21T05:30:04.827Z",
  "versionId": "143a24b8-ecec-49e1-bfd2-21e7fb37cb01"
}