workflows/Disparo Mensagens em Massa.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Última Execução?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passa um anúncio de cada vez1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Última Execução?": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Passa um anúncio de cada vez1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Passa um anúncio de cada vez1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-30T23:22:23.659Z",
  "id": "ohLJ26RlBFiRSvGj",
  "name": "Disparo Mensagens em Massa",
  "nodes": [
    {
      "parameters": {},
      "id": "b00406d3-6cb3-4452-b20d-6966a55717d8",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        480
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.Nomes.split(\" \") }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $json.Telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "713d4b3f-792b-4c58-8a70-f03dcdec04e4",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.devzapp.com.br/funil/start/executeMulti/647a7ee312737200011251b7/648a1d7955813521bfde94de",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "=55{{ $json.Telefone }}"
            },
            {
              "name": "cName",
              "value": "={{ $json.nome[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "40fa9de5-dabf-47c2-935f-910c0eb601c9",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        480
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (60 - 40 + 1)) + 40; }}",
        "unit": "seconds"
      },
      "id": "9c46bc8d-f46c-4997-80c3-2ed5869b516d",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        920,
        480
      ],
      "webhookId": "3937d347-a579-48f0-ad32-b5bdcd0780c2"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Passa um anúncio de cada vez1\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "id": "70a55e92-0ff9-4835-a1bc-d0aa1881df3d",
      "name": "Última Execução?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        480
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "bd2b7848-c8ed-4aba-889b-cbbedcfe3d69",
      "name": "Passa um anúncio de cada vez1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        260,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.devzapp.com.br/funil/start/executeMulti/647a7ee312737200011251b7/647f8dee038ac01740ec4c9b",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "=5566996188393"
            },
            {
              "name": "cName",
              "value": "={{ $json.nome[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "273d6c35-2def-42c6-8f4a-e8c5987b9d03",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1400,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.devzapp.com.br/funil/start/executeMulti/647a7ee312737200011251b7/648a1d7955813521bfde94de",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "=5566996188393"
            },
            {
              "name": "cName",
              "value": "=Lucas"
            }
          ]
        },
        "options": {}
      },
      "id": "8bdf5c8d-a261-4a18-8d97-7eceddb567a6",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        760,
        200
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Wh4y9lhyCBR5TLobjLlxsyx82ooKpkhBf7bPx3f3xtI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 653996669,
          "mode": "list",
          "cachedResultName": "Disparo de mensagem - Página1.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wh4y9lhyCBR5TLobjLlxsyx82ooKpkhBf7bPx3f3xtI/edit#gid=653996669"
        },
        "options": {}
      },
      "id": "daec6c5c-b94b-4443-b919-634f98709016",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        0,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-08-09T22:03:18.154Z",
  "versionId": "318ce3d3-017a-4a4b-ad8e-4daf4d646090"
}