workflows/Disparo Mensagens em Massa.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Última Execução?": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Última Execução?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-30T23:22:23.659Z",
  "id": "ohLJ26RlBFiRSvGj",
  "meta": null,
  "name": "Disparo Mensagens em Massa",
  "nodes": [
    {
      "parameters": {},
      "id": "b00406d3-6cb3-4452-b20d-6966a55717d8",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        480
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.Nome }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $json.Telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "713d4b3f-792b-4c58-8a70-f03dcdec04e4",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-image",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json['Telefone '] }}"
            },
            {
              "name": "image",
              "value": "=https://i.ibb.co/hfH03FJ/aoa-io.jpg"
            }
          ]
        },
        "options": {}
      },
      "id": "40fa9de5-dabf-47c2-935f-910c0eb601c9",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        480
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (20 - 15 + 1)) + 15; }}",
        "unit": "seconds"
      },
      "id": "9c46bc8d-f46c-4997-80c3-2ed5869b516d",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1560,
        580
      ],
      "webhookId": "3937d347-a579-48f0-ad32-b5bdcd0780c2"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"split\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "id": "70a55e92-0ff9-4835-a1bc-d0aa1881df3d",
      "name": "Última Execução?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1340,
        480
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1S0AGEu01HV0tQdS7q3j91ooC5sOaCze5hVLH8x3uw68",
          "mode": "list",
          "cachedResultName": "Contatos Alunos _ Pós2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S0AGEu01HV0tQdS7q3j91ooC5sOaCze5hVLH8x3uw68/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1470656262,
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S0AGEu01HV0tQdS7q3j91ooC5sOaCze5hVLH8x3uw68/edit#gid=1470656262"
        },
        "options": {}
      },
      "id": "daec6c5c-b94b-4443-b919-634f98709016",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        0,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "bd2b7848-c8ed-4aba-889b-cbbedcfe3d69",
      "name": "split",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        260,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "={{ $('Set').item.json['Telefone '] }}"
            },
            {
              "name": "message",
              "value": "=Boa tarde, {{ $('Set').item.json['Nome '] }}. \n\nEstou passando para lembrar que neste sábado teremos mais um encontro ao vivo da Pós-Graduação Médica em Relacionamentos e Autodesenvolvimento.\n\nDessa vez a aula será com um convidado super especial.\n\nMédico especialista em relacionamento e amadurecimento, o Dr. Jorge Rodrigues é o maior terapeuta do Brasil, possui mais de dez anos de experiência em UTI e quatro anos de experiência com Psicoterapia, especializado em saúde mental pelo Hospital Sírio Libanês de São Paulo. \n\nEsperamos todos ao vivo!\n\n🕘 Horário de início: 09h00 (SP)"
            }
          ]
        },
        "options": {}
      },
      "id": "4188ab2b-a741-45fb-9161-c7e8d81bfaa4",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1120,
        480
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (8 - 4 + 1)) + 4; }}",
        "unit": "seconds"
      },
      "id": "c27cb99c-18ab-4bfa-a385-c2d10ddff5d2",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        900,
        480
      ],
      "webhookId": "738f789b-0f64-4bc6-8202-603951d73402"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-04T19:32:31.127Z",
  "versionId": "10641dd5-fb98-4757-9ee9-c78b340a9ac4"
}