workflows/Manychat - Captura de Lead.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailerLite": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "MailerLite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-14T11:17:26.718Z",
  "id": "r83Q4AmDIGbOMtsQ",
  "name": "Manychat - Captura de Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manychat",
        "options": {}
      },
      "id": "d06b486f-1b13-4383-b4e2-53696a7b20a9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        260
      ],
      "webhookId": "62e4351d-a962-4974-9ec4-7e3cce20f59a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3BF1A6031399900B570E82CFDE5982A9/token/C725495F6B80B55CF7F353EA/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.TELEFONE }}"
            },
            {
              "name": "message",
              "value": "=*Olá, {{ $json.NOME }}!*\n\nÉ um prazer falar com você por aqui! 🌟 Antes de tudo, por favor, *salve este número* em seus contatos para não perder nenhuma atualização. Assim que tiver feito isso, responda com *\"salvo\"*.\n\nTenho ótimas notícias para você! Por ter vindo através dos comentários do instagram, temos um link promocional EXCLUSIVO só para você. E o melhor: com ele, você garante um *SUPER DESCONTO*.\n\n*Aqui está o seu link PROMOCIONAL:* \n\nhttps://drfernandosilva.com.br/comunidade-novo-ego-promocional\n\n*Se tiver qualquer dúvida ou precisar de ajuda, fique à vontade para perguntar.*\nEstamos aqui para ajudar! "
            }
          ]
        },
        "options": {}
      },
      "id": "b862315f-f639-435b-be85-89e5d9f40312",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        -20
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ new Date() }}",
        "format": "yyyy-MM-dd",
        "outputFieldName": "Hoje",
        "options": {}
      },
      "id": "821d55d0-c799-4c23-9996-db1785c4d6cf",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        560,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tel",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "10dfd79e-0a6f-4800-bbe2-e70533518a91",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        760,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\nlet phone = $('Set').item.json.tel\n\nlet count = phone.replace('+', '').length\n\nif (count === 11) {\n    phone = \"+55\" + phone.slice(1);\n}\n\n$input.item.json.tel55 = phone;\n\nreturn $input.item;"
      },
      "id": "039b77a3-4c72-4c1d-a569-2c0dbdbf8d6f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://connect.mailerlite.com/api/subscribers/{{ $json.data.id }}/groups/96719359926339169",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI0IiwianRpIjoiMWI1OGM0YTgwNGE5ZmMwY2Q1MTNlZDgxNTlmYzk0YTljNDhkN2VjNTM1ZTFkNzBkZGQ1OTM0NzZlMjgwMjBjZWVkZTIxM2UyOGZmZjNkY2IiLCJpYXQiOjE2OTIyMjM4MzIuODI5MTMxLCJuYmYiOjE2OTIyMjM4MzIuODI5MTMzLCJleHAiOjQ4NDc4OTc0MzIuODIzODQxLCJzdWIiOiI1MTc5NzEiLCJzY29wZXMiOltdfQ.LlN_P_V5JHgvU58zNJ__7ZiorPZj_nMCig7rEGuUOfqGM2fXGpNxBb7SPc5hDKwqQdxz-KhsK1_xGp0jyRhFnotr4dgmtlyQLQIbnqqFeftTQfgdgj36XX12LGQl_r8VIzkoTN-NC-EFUHlBXdPfb1fKHSyXtna852a_3GjchBzyt0JY9aFGCy7q6wERKIBDqoWQgFzXMVQW6adsqy0BAbmruVmeyUnO_ufu5yMekamudImbN23JDul8rT-kuFoNlUPL28r6Urig5WDVZEFJFpjTFfenLb75QcQKAT3K9VGvYDWdxmgv7HXDhvG4PfiQSI9NTyIalGh6nHn2ylUx9B2HYFt1AP-BWC77xpQV6AmSR_L-MKlAwdv6Y_O1huRO8Z10CyoQLviYhB_0QnWYfXCDTs-1u0-Ahrd4qHCXKUw_he9U7t2qtB4R_K_dT1vJyG8_4GXLWRD_9peo5a9WsaXdK8mQvrWqvqrrSEAkjFQ2OHmlXLB18BBHGeEOz0GMgyUs2D-zM2_8M7WeqvF0WPcfWWqL4SKHsJSCB7H0Z1UVsYsNfMV_45pb5e3kyt3C8JvO9q71nZKTUX2SblNeGa9A-mVxJIPWAeeQwpS4i8k5vC_H34UsqvH1_0-SHo5I5eIf5s5676LVnyXZtkEQUCRJs4ogjm7or5YGDzBhb-k"
            }
          ]
        },
        "options": {}
      },
      "id": "75e35a84-a67a-4cf0-a7c4-8af447581860",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2060,
        260
      ]
    },
    {
      "parameters": {
        "email": "={{ $('Webhook').item.json.body.email }}",
        "additionalFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": "name",
                "value": "={{ $json.NOME }}"
              },
              {
                "fieldId": "phone",
                "value": "={{ $json.TELEFONE }}"
              }
            ]
          },
          "name": "={{ $json.NOME }}"
        }
      },
      "id": "dba55e84-020c-4047-a664-5ae04cdd8b1b",
      "name": "MailerLite",
      "type": "n8n-nodes-base.mailerLite",
      "typeVersion": 1,
      "position": [
        1580,
        260
      ],
      "credentials": {
        "mailerLiteApi": {
          "id": "f35OOrA1FD1ugbad",
          "name": "Mailer Lite account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "subscriberId": "={{ $('Webhook').item.json.body.email }}"
      },
      "id": "b0dd8a4c-d095-4e84-9a8b-b92c735a5ff1",
      "name": "MailerLite1",
      "type": "n8n-nodes-base.mailerLite",
      "typeVersion": 1,
      "position": [
        1540,
        -20
      ],
      "credentials": {
        "mailerLiteApi": {
          "id": "f35OOrA1FD1ugbad",
          "name": "Mailer Lite account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://connect.mailerlite.com/api/subscribers/{{ $json.email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI0IiwianRpIjoiMWI1OGM0YTgwNGE5ZmMwY2Q1MTNlZDgxNTlmYzk0YTljNDhkN2VjNTM1ZTFkNzBkZGQ1OTM0NzZlMjgwMjBjZWVkZTIxM2UyOGZmZjNkY2IiLCJpYXQiOjE2OTIyMjM4MzIuODI5MTMxLCJuYmYiOjE2OTIyMjM4MzIuODI5MTMzLCJleHAiOjQ4NDc4OTc0MzIuODIzODQxLCJzdWIiOiI1MTc5NzEiLCJzY29wZXMiOltdfQ.LlN_P_V5JHgvU58zNJ__7ZiorPZj_nMCig7rEGuUOfqGM2fXGpNxBb7SPc5hDKwqQdxz-KhsK1_xGp0jyRhFnotr4dgmtlyQLQIbnqqFeftTQfgdgj36XX12LGQl_r8VIzkoTN-NC-EFUHlBXdPfb1fKHSyXtna852a_3GjchBzyt0JY9aFGCy7q6wERKIBDqoWQgFzXMVQW6adsqy0BAbmruVmeyUnO_ufu5yMekamudImbN23JDul8rT-kuFoNlUPL28r6Urig5WDVZEFJFpjTFfenLb75QcQKAT3K9VGvYDWdxmgv7HXDhvG4PfiQSI9NTyIalGh6nHn2ylUx9B2HYFt1AP-BWC77xpQV6AmSR_L-MKlAwdv6Y_O1huRO8Z10CyoQLviYhB_0QnWYfXCDTs-1u0-Ahrd4qHCXKUw_he9U7t2qtB4R_K_dT1vJyG8_4GXLWRD_9peo5a9WsaXdK8mQvrWqvqrrSEAkjFQ2OHmlXLB18BBHGeEOz0GMgyUs2D-zM2_8M7WeqvF0WPcfWWqL4SKHsJSCB7H0Z1UVsYsNfMV_45pb5e3kyt3C8JvO9q71nZKTUX2SblNeGa9A-mVxJIPWAeeQwpS4i8k5vC_H34UsqvH1_0-SHo5I5eIf5s5676LVnyXZtkEQUCRJs4ogjm7or5YGDzBhb-k"
            }
          ]
        },
        "options": {}
      },
      "id": "dac20860-190c-420e-9917-3a5f9a3a4d72",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1820,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=*Olá, {{ $json.Nome.split(' ')[0] }}!*\n\nÉ um prazer falar com você por aqui! 🌟 Antes de tudo, por favor, *salve este número* em seus contatos para não perder nenhuma atualização. Assim que tiver feito isso, responda com *\"salvo\"*.\n\nTenho ótimas notícias para você! Por ter vindo através dos comentários do instagram, temos um link promocional EXCLUSIVO só para você. E o melhor: com ele, você garante um *SUPER DESCONTO*. Mas esse desconto vai durar apenas até as 23hrs do dia de hoje.\n\n*Aqui está o seu link PROMOCIONAL:* \n\nhttps://drfernandosilva.com.br/comunidade-novo-ego-promocional\n\n*Se tiver qualquer dúvida ou precisar de ajuda, fique à vontade para perguntar.*\nEstamos aqui para ajudar!  "
            }
          ]
        },
        "options": {}
      },
      "id": "5f275fca-00c4-4e87-a04b-084c21fd8d65",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1380,
        260
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Data de Inscrição": "={{ $json.Hoje }}",
            "Nome": "={{ $('Webhook').item.json.body.name }}",
            "Telefone": "={{ $json.tel55 }}",
            "Comprou": "NÃO",
            "Cadastrou Pré Checkout": "NÃO"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cadastrou Pré Checkout",
              "displayName": "Cadastrou Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou",
              "displayName": "Comprou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plano",
              "displayName": "Plano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cobranças",
              "displayName": "Cobranças",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ultimo pagamento",
              "displayName": "Ultimo pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataforma de Captura",
              "displayName": "Plataforma de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Canal de Captura",
              "displayName": "Canal de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Campanha de Captura",
              "displayName": "Campanha de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Termo de Captura",
              "displayName": "Termo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conteúdo de Captura",
              "displayName": "Conteúdo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataforma de Pré CheckOut",
              "displayName": "Plataforma de Pré CheckOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Canal de Pré CheckOut",
              "displayName": "Canal de Pré CheckOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conteúdo de Pré CheckOut",
              "displayName": "Conteúdo de Pré CheckOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Termo de Pré CheckOut",
              "displayName": "Termo de Pré CheckOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conteúdo de Pré CheckOut",
              "displayName": "Conteúdo de Pré CheckOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataforma de Compra",
              "displayName": "Plataforma de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Canal de Compra",
              "displayName": "Canal de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conteúdo de Compra",
              "displayName": "Conteúdo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Termo de Compra",
              "displayName": "Termo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conteúdo de Captura",
              "displayName": "Conteúdo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e22dd3d7-c61c-40e7-94ac-f934f97c0dc3",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1180,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Cuiaba",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-09-01T14:06:31.246Z",
  "versionId": "3e3e443a-eeb0-40bc-a798-0862aaed2a21"
}