workflows/Manychat - Captura de Lead.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailerLite": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "MailerLite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-14T11:17:26.718Z",
  "id": "r83Q4AmDIGbOMtsQ",
  "name": "Manychat - Captura de Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manychat",
        "options": {}
      },
      "id": "d06b486f-1b13-4383-b4e2-53696a7b20a9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        400,
        140
      ],
      "webhookId": "62e4351d-a962-4974-9ec4-7e3cce20f59a"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ new Date() }}",
        "format": "yyyy-MM-dd",
        "outputFieldName": "Hoje",
        "options": {}
      },
      "id": "821d55d0-c799-4c23-9996-db1785c4d6cf",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        580,
        140
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tel",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "10dfd79e-0a6f-4800-bbe2-e70533518a91",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        780,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\nlet phone = $('Set').item.json.tel\n\nlet count = phone.replace('+', '').length\n\nif (count === 11) {\n    phone = \"+55\" + phone.slice(1);\n}\n\n$input.item.json.tel55 = phone;\n\nreturn $input.item;"
      },
      "id": "039b77a3-4c72-4c1d-a569-2c0dbdbf8d6f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://connect.mailerlite.com/api/subscribers/{{ $json.data.id }}/groups/96719359926339169",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI0IiwianRpIjoiMWI1OGM0YTgwNGE5ZmMwY2Q1MTNlZDgxNTlmYzk0YTljNDhkN2VjNTM1ZTFkNzBkZGQ1OTM0NzZlMjgwMjBjZWVkZTIxM2UyOGZmZjNkY2IiLCJpYXQiOjE2OTIyMjM4MzIuODI5MTMxLCJuYmYiOjE2OTIyMjM4MzIuODI5MTMzLCJleHAiOjQ4NDc4OTc0MzIuODIzODQxLCJzdWIiOiI1MTc5NzEiLCJzY29wZXMiOltdfQ.LlN_P_V5JHgvU58zNJ__7ZiorPZj_nMCig7rEGuUOfqGM2fXGpNxBb7SPc5hDKwqQdxz-KhsK1_xGp0jyRhFnotr4dgmtlyQLQIbnqqFeftTQfgdgj36XX12LGQl_r8VIzkoTN-NC-EFUHlBXdPfb1fKHSyXtna852a_3GjchBzyt0JY9aFGCy7q6wERKIBDqoWQgFzXMVQW6adsqy0BAbmruVmeyUnO_ufu5yMekamudImbN23JDul8rT-kuFoNlUPL28r6Urig5WDVZEFJFpjTFfenLb75QcQKAT3K9VGvYDWdxmgv7HXDhvG4PfiQSI9NTyIalGh6nHn2ylUx9B2HYFt1AP-BWC77xpQV6AmSR_L-MKlAwdv6Y_O1huRO8Z10CyoQLviYhB_0QnWYfXCDTs-1u0-Ahrd4qHCXKUw_he9U7t2qtB4R_K_dT1vJyG8_4GXLWRD_9peo5a9WsaXdK8mQvrWqvqrrSEAkjFQ2OHmlXLB18BBHGeEOz0GMgyUs2D-zM2_8M7WeqvF0WPcfWWqL4SKHsJSCB7H0Z1UVsYsNfMV_45pb5e3kyt3C8JvO9q71nZKTUX2SblNeGa9A-mVxJIPWAeeQwpS4i8k5vC_H34UsqvH1_0-SHo5I5eIf5s5676LVnyXZtkEQUCRJs4ogjm7or5YGDzBhb-k"
            }
          ]
        },
        "options": {}
      },
      "id": "75e35a84-a67a-4cf0-a7c4-8af447581860",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2840,
        140
      ]
    },
    {
      "parameters": {
        "email": "={{ $('Webhook').item.json.body.email }}",
        "additionalFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": "name",
                "value": "={{ $('Google Sheets2').item.json.Nome }}"
              },
              {
                "fieldId": "phone",
                "value": "={{ $('Code').item.json.tel55 }}"
              }
            ]
          },
          "name": "={{ $('Google Sheets2').item.json.Nome }}"
        }
      },
      "id": "dba55e84-020c-4047-a664-5ae04cdd8b1b",
      "name": "MailerLite",
      "type": "n8n-nodes-base.mailerLite",
      "typeVersion": 1,
      "position": [
        2460,
        140
      ],
      "credentials": {
        "mailerLiteApi": {
          "id": "f35OOrA1FD1ugbad",
          "name": "Mailer Lite account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://connect.mailerlite.com/api/subscribers/{{ $json.email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI0IiwianRpIjoiMWI1OGM0YTgwNGE5ZmMwY2Q1MTNlZDgxNTlmYzk0YTljNDhkN2VjNTM1ZTFkNzBkZGQ1OTM0NzZlMjgwMjBjZWVkZTIxM2UyOGZmZjNkY2IiLCJpYXQiOjE2OTIyMjM4MzIuODI5MTMxLCJuYmYiOjE2OTIyMjM4MzIuODI5MTMzLCJleHAiOjQ4NDc4OTc0MzIuODIzODQxLCJzdWIiOiI1MTc5NzEiLCJzY29wZXMiOltdfQ.LlN_P_V5JHgvU58zNJ__7ZiorPZj_nMCig7rEGuUOfqGM2fXGpNxBb7SPc5hDKwqQdxz-KhsK1_xGp0jyRhFnotr4dgmtlyQLQIbnqqFeftTQfgdgj36XX12LGQl_r8VIzkoTN-NC-EFUHlBXdPfb1fKHSyXtna852a_3GjchBzyt0JY9aFGCy7q6wERKIBDqoWQgFzXMVQW6adsqy0BAbmruVmeyUnO_ufu5yMekamudImbN23JDul8rT-kuFoNlUPL28r6Urig5WDVZEFJFpjTFfenLb75QcQKAT3K9VGvYDWdxmgv7HXDhvG4PfiQSI9NTyIalGh6nHn2ylUx9B2HYFt1AP-BWC77xpQV6AmSR_L-MKlAwdv6Y_O1huRO8Z10CyoQLviYhB_0QnWYfXCDTs-1u0-Ahrd4qHCXKUw_he9U7t2qtB4R_K_dT1vJyG8_4GXLWRD_9peo5a9WsaXdK8mQvrWqvqrrSEAkjFQ2OHmlXLB18BBHGeEOz0GMgyUs2D-zM2_8M7WeqvF0WPcfWWqL4SKHsJSCB7H0Z1UVsYsNfMV_45pb5e3kyt3C8JvO9q71nZKTUX2SblNeGa9A-mVxJIPWAeeQwpS4i8k5vC_H34UsqvH1_0-SHo5I5eIf5s5676LVnyXZtkEQUCRJs4ogjm7or5YGDzBhb-k"
            }
          ]
        },
        "options": {}
      },
      "id": "dac20860-190c-420e-9917-3a5f9a3a4d72",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2640,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=*Olá, {{ $json.Nome.split(' ')[0] }}!*\n\nPrazer em falar com você! 🌟 \nSalve este número para receber atualizações e responda com \"salvo\". \n\nTemos um link promocional exclusivo com um grande desconto, válido até as 23hrs de hoje.\n\n*Aqui está o seu link PROMOCIONAL:* "
            }
          ]
        },
        "options": {}
      },
      "id": "5f275fca-00c4-4e87-a04b-084c21fd8d65",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1840,
        140
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Webhook').item.json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f69a67d1-9cce-4133-ab01-bd41ff09d9db",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1200,
        140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8c25fcc2-3f5e-438c-be10-a6a0e0b8d7d9",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1420,
        140
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Data de Inscrição": "={{ $('Date & Time').item.json.Hoje }}",
            "Nome": "={{ $('Webhook').item.json.body.name }}",
            "Telefone": "={{ $('Code').item.json.tel55 }}",
            "Comprou": "NÃO",
            "Status": "Lead",
            "Plataforma de Captura": "={{ $('Webhook').item.json.body.utm_source }}",
            "Canal de Captura": "={{ $('Webhook').item.json.body.utm_medium }}",
            "Campanha de Captura": "={{ $('Webhook').item.json.body.utm_campaign }}",
            "Termo de Captura": "={{ $('Webhook').item.json.body.utm_term }}",
            "Conteúdo de Captura": "={{ $('Webhook').item.json.body.utm_content }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comprou",
              "displayName": "Comprou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plano",
              "displayName": "Plano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Formulario Pré Checkout",
              "displayName": "Formulario Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cobranças",
              "displayName": "Cobranças",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Captura",
              "displayName": "Plataforma de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Canal de Captura",
              "displayName": "Canal de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Campanha de Captura",
              "displayName": "Campanha de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Termo de Captura",
              "displayName": "Termo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conteúdo de Captura",
              "displayName": "Conteúdo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataforma de Inicio",
              "displayName": "Plataforma de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Inicio",
              "displayName": "Canal de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Inicio",
              "displayName": "Campanha de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Inicio",
              "displayName": "Termo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Inicio",
              "displayName": "Conteúdo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Pré Planos",
              "displayName": "Plataforma de Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Planos",
              "displayName": "Canal Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Planos",
              "displayName": "Camapanha Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Planos",
              "displayName": "Termo Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo Pré Planos ",
              "displayName": "Conteúdo Pré Planos ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma Pré Checkout",
              "displayName": "Plataforma Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Checkout",
              "displayName": "Canal Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Checkout",
              "displayName": "Camapanha Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Checkout",
              "displayName": "Termo Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo  Pré Checkout",
              "displayName": "Conteúdo  Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Compra",
              "displayName": "Plataforma de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Compra",
              "displayName": "Canal de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha de Compra",
              "displayName": "Camapanha de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Compra",
              "displayName": "Termo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Compra",
              "displayName": "Conteúdo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "ccfd8a8f-3bf7-4ec5-8567-ec1877be5738",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1640,
        140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets2').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=https://bit.ly/promocional-novo-ego"
            }
          ]
        },
        "options": {}
      },
      "id": "3e09a96a-a5d8-4768-b691-32b943683720",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2040,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets2').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=*Se tiver qualquer dúvida ou precisar de ajuda, fique à vontade para perguntar.*\nEstamos aqui para ajudar!  "
            }
          ]
        },
        "options": {}
      },
      "id": "1082dcf7-fba8-434c-89ef-1e2d0755c6d7",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2240,
        140
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Cuiaba",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-12T20:13:23.465Z",
  "versionId": "64b598b2-94dc-48d5-8d03-93c7782885c2"
}