workflows/My workflow.json
{
  "active": false,
  "connections": {
    "Procura Registros de Hoje": {
      "main": [
        [
          {
            "node": "Possui Registro pra Hoje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variáveis": {
      "main": [
        [
          {
            "node": "Procura Registros de Hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Variáveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data de Hoje": {
      "main": [
        []
      ]
    },
    "Última Execução?": {
      "main": [
        [
          {
            "node": "Cabô",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separa Campanhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa Campanhas": {
      "main": [
        [
          {
            "node": "Métricas a Nível AD1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa os Dias": {
      "main": [
        [
          {
            "node": "Métricas a Nível ADS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Métricas da Array Actions": {
      "main": [
        [
          {
            "node": "ID Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sim": {
      "main": [
        [
          {
            "node": "Separa os Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Métricas a Nível ADS1": {
      "main": [
        [
          {
            "node": "Separa os anúncios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa os anúncios": {
      "main": [
        [
          {
            "node": "Separa Campanhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Métricas a Nível AD1": {
      "main": [
        [
          {
            "node": "Ajeita os dados do anúncio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajeita os dados do anúncio1": {
      "main": [
        [
          {
            "node": "Extrai Métricas da Array Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Lookup": {
      "main": [
        [
          {
            "node": "Métricas listadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Planilha": {
      "main": [
        [
          {
            "node": "Espera um pouco1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera um pouco1": {
      "main": [
        [
          {
            "node": "Última Execução?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Métricas listadas": {
      "main": [
        [
          {
            "node": "Atualiza Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Possui Registro pra Hoje?": {
      "main": [
        [
          {
            "node": "Sim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-26T13:57:57.676Z",
  "id": "23",
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Procura Registros de Hoje\"].json[\"DATA\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d1e94efa-e0a4-4f50-a5b9-d70d0fa9d0e5",
      "name": "Possui Registro pra Hoje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        160
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Variáveis\"].json[\"ID da planilha\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 63944589,
          "mode": "list",
          "cachedResultName": "Total CAMPAIGN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwJ2DkvqZq3tKAAUKPt3uYg2pzENMdfJzLTSDY2xBDA/edit#gid=63944589"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DATA",
              "lookupValue": "={{ $json[\"Hoje\"] }}"
            }
          ]
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          },
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "3f07eba8-b53b-434f-8543-0a882e3e1584",
      "name": "Procura Registros de Hoje",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        700,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID da planilha",
              "value": "1LwJ2DkvqZq3tKAAUKPt3uYg2pzENMdfJzLTSDY2xBDA"
            },
            {
              "name": "ID da conta de anúncios",
              "value": "act_726534852007729"
            },
            {
              "name": "Token de acesso",
              "value": "EAAMwejYPMcsBAMZBMUpFquY2CzYau7aijNHflXKqhZA6l6qZAYDW0kHajxyL9gIlf1ZCF85QKzgbtav2X8amD0SANM3tT08msS0Faq5dUNSTZAYyXNod2KeAHn7rPSSDoVDv1f4aK78QISrVzSFFnH6f3swH4UvnZBtZAXR6FNnxZActeVWG5mhQ"
            },
            {
              "name": "Hoje",
              "value": "2023-01-27"
            }
          ]
        },
        "options": {}
      },
      "id": "7962e2d9-c3a7-4597-96d5-4f96d92e00db",
      "name": "Variáveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        540,
        160
      ]
    },
    {
      "parameters": {},
      "id": "b4de4397-eaf2-4064-af77-59735594d054",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        360,
        160
      ]
    },
    {
      "parameters": {
        "value": "[Object: 2023-01-27T09:55:34.257-04:00]",
        "dataPropertyName": "Hoje",
        "toFormat": "YYYY-MM-DD",
        "options": {}
      },
      "id": "73fa0a44-bfb8-47a5-b2d4-6736a7c9fdf7",
      "name": "Data de Hoje",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        460,
        -40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Separa Campanhas\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "id": "4d2f9363-a111-4a17-8012-49f3f6eaa910",
      "name": "Última Execução?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3000,
        -60
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": "={{$node[\"Separa Campanhas\"].context[\"noItemsLeft\"]}}"
        }
      },
      "id": "8329c00c-2ca7-41dd-bff4-8ba78667db85",
      "name": "Separa Campanhas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1700,
        20
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "8ac28814-be2c-407d-afad-6df0a0d42448",
      "name": "Separa os Dias",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1180,
        20
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "//pega os dados do \"body\" do input\nlet data = $input.item.json.actions;\n\n//faz o loop sob cada uma das propriedades\nfor (i in data){\n  //pega a propriedade atual, o seu \"action\" e o seu \"value\"\n  let dataItem = data[i];\n  let action = dataItem.action_type;\n  let value = dataItem.value;\n\n  //cria uma nova propriedade no input com o nome da \"action\" e o valor do \"value\"\n  $input.item.json[action] = value\n}\n\n//retorna o input com os novos campos\nreturn $input.item;"
      },
      "id": "6b01bbe7-4831-4e16-903b-545efd43fecd",
      "name": "Extrai Métricas da Array Actions",
      "type": "n8n-nodes-base.code",
      "position": [
        2180,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "002d63fe-d58d-4d2b-a216-39aa1f4be930",
      "name": "Sim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        20
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v15.0/{{ $node[\"Variáveis\"].json[\"ID da conta de anúncios\"] }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "campaign_name,adset_name,ad_name,ad_id"
            },
            {
              "name": "time_range",
              "value": "={\"since\":\"{{ $node[\"Separa os Dias\"].json[\"DATA\"] }}\",\"until\":\"{{ $node[\"Separa os Dias\"].json[\"DATA\"] }}\"}"
            },
            {
              "name": "access_token",
              "value": "={{ $node[\"Variáveis\"].json[\"Token de acesso\"] }}"
            },
            {
              "name": "level",
              "value": "account"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "c239c784-43a0-46c4-b686-7fbc62162e0f",
      "name": "Métricas a Nível ADS1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1360,
        20
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "9a5ad078-134c-4738-826e-a4e828a9725a",
      "name": "Cabô",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3240,
        -80
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "338ed410-7ff8-4b7d-9325-93c74495c2b8",
      "name": "Separa os anúncios",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1540,
        20
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v15.0/{{$node[\"Separa Campanhas\"].json[\"ad_id\"]}}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "campaign_name,adset_name,ad_name,impressions,reach,clicks,spend,actions"
            },
            {
              "name": "time_range",
              "value": "={\"since\":\"{{$node[\"Data de Hoje\"].json[\"Hoje\"]}}\",\"until\":\"{{$node[\"Data de Hoje\"].json[\"Hoje\"]}}\"}"
            },
            {
              "name": "access_token",
              "value": "={{ $node[\"Variáveis\"].json[\"Token de acesso\"] }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "80e67d6a-57e7-42d7-b002-50a044a3ff42",
      "name": "Métricas a Nível AD1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1860,
        20
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "127ea539-6b95-48b2-b99b-4b49490e7ea8",
      "name": "Ajeita os dados do anúncio1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2020,
        20
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID Lookup",
              "value": "={{ parseInt($node[\"Separa os Dias\"].json[\"ID\"])+parseInt($node[\"Separa Campanhas\"].context[\"currentRunIndex\"])}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2bd0f637-e5c1-453d-8e70-9a9d4efed855",
      "name": "ID Lookup",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2340,
        20
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Variáveis\"].json[\"ID da planilha\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 56678084,
          "mode": "list",
          "cachedResultName": "NÍVEL AD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mlTHP_XUrOFwMgeaZNxzs1mR3XTns9TM_FgxgiWBtwk/edit#gid=56678084"
        },
        "columnToMatchOn": "ID",
        "valueToMatchOn": "={{ $json[\"ID Lookup\"].toString() }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Campanha",
              "fieldValue": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"campaign_name\"] }}"
            },
            {
              "column": "Público",
              "fieldValue": "={{$node[\"Extrai Métricas da Array Actions\"].json[\"adset_name\"]}}"
            },
            {
              "column": "Anúncio",
              "fieldValue": "={{$node[\"Extrai Métricas da Array Actions\"].json[\"ad_name\"]}}"
            },
            {
              "column": "Valor Gasto",
              "fieldValue": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"spend\"].replace('.',',') }}"
            },
            {
              "column": "Impressões",
              "fieldValue": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"impressions\"] }}"
            },
            {
              "column": "Alcance",
              "fieldValue": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"reach\"] }}"
            },
            {
              "column": "Cliques no Link",
              "fieldValue": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"link_click\"] }}"
            },
            {
              "column": "Visualização da Página",
              "fieldValue": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"landing_page_view\"] }}"
            },
            {
              "column": "Leads",
              "fieldValue": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_lead\"] }}"
            },
            {
              "column": "Contatos",
              "fieldValue": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"contact_total\"] }}"
            },
            {
              "column": "Mensagens",
              "fieldValue": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"onsite_conversion.messaging_conversation_started_7d\"] }}"
            },
            {
              "column": "Conversões",
              "fieldValue": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_purchase\"] }}"
            },
            {
              "column": "Compras",
              "fieldValue": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_purchase\"] }}"
            },
            {
              "column": "Checkouts",
              "fieldValue": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_initiate_checkout\"] }}"
            },
            {
              "column": "Viu Conteúdo",
              "fieldValue": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_view_content\"] }}"
            },
            {
              "column": "Adição ao Carrinho",
              "fieldValue": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_add_to_cart\"] }}"
            },
            {
              "column": "Pesquisar",
              "fieldValue": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_search\"] }}"
            },
            {
              "column": "Add Info Pagamento",
              "fieldValue": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_add_payment_info\"] }}"
            },
            {
              "column": "Cadastros",
              "fieldValue": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"leadgen_grouped\"] }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "fc7c47a2-2c9a-4205-83cd-1252f9881a68",
      "name": "Atualiza Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2660,
        20
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "8d9377fb-4870-4826-8f21-b51341223914",
      "name": "Espera um pouco1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2820,
        20
      ],
      "webhookId": "581c33a8-03a1-497a-86b5-16ff932a2b2f"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID",
              "value": "={{ $node[\"Número da Linha\"].json[\"ID\"].replace('+','') }}"
            },
            {
              "name": "Data",
              "value": "={{ $node[\"Data de Hoje\"].json[\"Hoje\"] }}"
            },
            {
              "name": "Campanha",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"campaign_name\"] }}"
            },
            {
              "name": "Público",
              "value": "={{$node[\"Extrai Métricas da Array Actions\"].json[\"adset_name\"]}}"
            },
            {
              "name": "Anúncio",
              "value": "={{$node[\"Extrai Métricas da Array Actions\"].json[\"ad_name\"]}}"
            },
            {
              "name": "Valor Gasto",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"spend\"].replace('.',',') }}"
            },
            {
              "name": "Impressões",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"impressions\"] }}"
            },
            {
              "name": "Alcance",
              "value": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"reach\"] }}"
            },
            {
              "name": "Cliques no Link",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"link_click\"] }}"
            },
            {
              "name": "Visualização da Página",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"landing_page_view\"] }}"
            },
            {
              "name": "Leads",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_lead\"] }}"
            },
            {
              "name": "Cadastros",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"leadgen_grouped\"] }}"
            },
            {
              "name": "Contatos",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"contact_total\"] }}"
            },
            {
              "name": "Mensagens",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"onsite_conversion.messaging_conversation_started_7d\"] }}"
            },
            {
              "name": "Conversões",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_purchase\"] }}"
            },
            {
              "name": "Compras",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_purchase\"] }}"
            },
            {
              "name": "Checkouts",
              "value": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_initiate_checkout\"] }}"
            },
            {
              "name": "Viu Conteúdo",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_view_content\"] }}"
            },
            {
              "name": "Adição ao Carrinho",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_add_to_cart\"] }}"
            },
            {
              "name": "Pesquisar",
              "value": "={{  $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_search\"] }}"
            },
            {
              "name": "Add Info Pagamento",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"offsite_conversion.fb_pixel_add_payment_info\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "23e0ebdb-1d3d-4923-a800-d819c9be1a61",
      "name": "Métricas listadas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2500,
        20
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-03-26T14:26:16.757Z",
  "versionId": "1d4b2cd4-a273-4284-a6a0-820939145869"
}