workflows/My workflow 9.json
{
  "active": false,
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_Schedule": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "post_Name": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_Schedule": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "post_Procedure": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-20T04:51:47.432Z",
  "id": "eskQYvZkZVdKTflm",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {
        "sessionKey": "={{ $('If1').item.json.whatsapp }}",
        "contextWindowLength": 30
      },
      "id": "1f43aed3-5676-4ccc-91e4-8a265d56b7a9",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.1,
      "position": [
        1280,
        540
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BF9H7QttI5Hd5j2XtzXUwxVX_wOW8RMK85dPSIxQ3G8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BF9H7QttI5Hd5j2XtzXUwxVX_wOW8RMK85dPSIxQ3G8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Whatsapp",
              "lookupValue": "={{ $json.body.cus_cel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ee4e8664-dcc2-4ac4-904d-a524656bb7b4",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        260,
        -340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8PMyFLU1UY4P3iLS",
          "name": "Lucas Katacha"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1f1101e4-30ff-4751-86a9-abf3c759630a",
              "leftValue": "={{ $json.Whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fdc3a01e-14b9-4cc3-9993-5ed58a24e433",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        540,
        -340
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BF9H7QttI5Hd5j2XtzXUwxVX_wOW8RMK85dPSIxQ3G8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BF9H7QttI5Hd5j2XtzXUwxVX_wOW8RMK85dPSIxQ3G8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de 1º Contato": "={{new Date().format(\"yyyy-MM-dd\")}}",
            "Whatsapp": "={{ $json.whats }}",
            "ID": "=id_{{Array.from({length: 20}, () => Math.random().toString(36)[2]).join('')}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de 1º Contato",
              "displayName": "Data de 1º Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de Avaliação",
              "displayName": "Data de Avaliação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora da Avaliação",
              "displayName": "Hora da Avaliação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Procedimento",
              "displayName": "Procedimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b25fbdac-80bc-4819-8439-44ee9731bc19",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        880,
        -100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8PMyFLU1UY4P3iLS",
          "name": "Lucas Katacha"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "whats",
              "stringValue": "={{ $('Webhook').item.json.body.cus_cel }}"
            },
            {
              "name": "idUser",
              "stringValue": "={{ $json.ID }}"
            },
            {
              "name": "input1",
              "stringValue": "={{ $('Webhook').item.json.body.input }}"
            }
          ]
        },
        "options": {}
      },
      "id": "78fcab54-f847-48c1-96e9-94f72adc4c24",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        400,
        -340
      ]
    },
    {
      "parameters": {
        "name": "post_Schedule",
        "description": "schedule the date and time of the appointment in the spreadsheet",
        "workflowId": "v7Xib2cl56a2in53",
        "fields": {
          "values": [
            {
              "name": "=date",
              "stringValue": "={{ $('Webhook').item.json.input.match(/(\\d{2}-\\d{2}-\\d{4})/)[0]\n}}"
            },
            {
              "name": "hour",
              "stringValue": "={{      $('Webhook').item.json.input.match(/(\\d{1,2}:\\d{2})/)[0] }}"
            },
            {
              "name": "cus_cel",
              "stringValue": "={{ $('Edit Fields').item.json.whats }}"
            }
          ]
        }
      },
      "id": "d2883792-3dfd-49e2-953d-ef711d944af6",
      "name": "post_Schedule",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1360,
        700
      ]
    },
    {
      "parameters": {
        "name": "post_Name",
        "description": "save user name to spreadsheet",
        "workflowId": "938MfMGZrn14VJNP",
        "fields": {
          "values": [
            {
              "name": "cus_cel",
              "stringValue": "={{ $('If1').item.json.whatsapp }}"
            }
          ]
        }
      },
      "id": "3b3b7bc4-11f6-47c4-ab39-86a06e20409b",
      "name": "post_Name",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1160,
        700
      ]
    },
    {
      "parameters": {
        "name": "get_Schedule",
        "description": "call a function to check which times are available this week",
        "workflowId": "g0VoeC7g7LSTtOn8"
      },
      "id": "ea122eec-6ca4-4048-99be-9f054ca07a4c",
      "name": "get_Schedule",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1680,
        700
      ]
    },
    {
      "parameters": {
        "name": "post_Procedure",
        "description": "save the procedure that the customer is interested in",
        "workflowId": "rxGBOvSC9J5dhmOX",
        "fields": {
          "values": [
            {
              "name": "cus_cel",
              "stringValue": "={{ $('If1').item.json.whatsapp }}"
            }
          ]
        }
      },
      "id": "bdbe4d12-54c5-420e-a27b-c690db1e0eee",
      "name": "post_Procedure",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1520,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"{{ $json.output }}\"\n} ",
        "options": {}
      },
      "id": "dc0240c1-ef92-42f1-b768-e2cd3bb466a3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        320
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "ca15ab7c-783f-404e-a5a3-c19991af4a89",
          "mode": "list",
          "cachedResultName": "Leads CRM",
          "cachedResultUrl": "https://www.notion.so/ca15ab7c783f404ea5a3c19991af4a89"
        },
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Whatsapp|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $json.cus_cel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "56cd109e-e320-4a2a-beed-48f46486bccd",
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        40,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "id": "efcf85f3-c228-4789-8350-90cec217e229",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1f1101e4-30ff-4751-86a9-abf3c759630a",
              "leftValue": "={{ $json.property_whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dfee3b53-552c-4b4a-b0aa-2aeb360a231e",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        320
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "whats",
              "stringValue": "={{ $json.cus_cel }}"
            },
            {
              "name": "input1",
              "stringValue": "={{ $json.input }}"
            }
          ]
        },
        "options": {}
      },
      "id": "122de62a-1410-4618-8a39-8ed89161fb72",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -120,
        320
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "ca15ab7c-783f-404e-a5a3-c19991af4a89",
          "mode": "list",
          "cachedResultName": "Leads CRM",
          "cachedResultUrl": "https://www.notion.so/ca15ab7c783f404ea5a3c19991af4a89"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Whatsapp|rich_text",
              "textContent": "={{ $json.whatsapp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "811470f9-fc5c-46d2-ade8-bca5135acbc4",
      "name": "Notion1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        880,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "whatsapp",
              "stringValue": "={{ $('Edit Fields1').item.json.whats }}"
            },
            {
              "name": "input",
              "stringValue": "={{ $('Edit Fields1').item.json.input }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0b938e6d-019e-4bac-ad06-47c7da72b3af",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        260,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "edf8ea8b-aedb-492a-b9c7-be59404358c9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1160,
        540
      ],
      "credentials": {
        "openAiApi": {
          "id": "yRbbRezEyMzU8Qmb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "29e8f3af-552f-4e5e-9f22-1385a6b70e53",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        540
      ],
      "webhookId": "73b41e3d-22cd-4cff-92da-47f00ce05033"
    },
    {
      "parameters": {
        "text": "={{ $('If1').item.json.input }} | RESPONDA EM PORTUGUÊS BRASIL   ",
        "options": {
          "systemMessage": "=Descrição:\nVocê é uma atendente de uma clínica odontológica. Ajudando-os a marcar consultas gratuitas para avaliação e diagnóstico. Você precisa coletar informações essenciais, como data, hora e o tipo de procedimento desejado pelo paciente e Nome.\n\nInstruções:\n\n1- Cumprimente o paciente, ja pergunte o nome para sempre chamar o cliente pelo nome.\nex: Olá, primeiramente qual seu nome, e como podemos te ajudar?\n2-Pergunte qual procedimento o cliente tem interesse.\n3- Solicite a data e hora desejadas para a consulta. oferecendo opções disponíveis.\n4- Pergunte ao paciente sobre o motivo da consulta e forneça informações adicionais sobre os procedimentos disponíveis, se necessário.\n5- Após confirmar a data, hora e procedimento desejado, finalize o agendamento com uma nota amigável com o resumo da data e hora, procedimento, fornecendo informações adicionais, como a localização da clínica e o que esperar na consulta inicial.\n\nAqui está uma lista de procedimentos comuns oferecidos pela clínica, juntamente com seus respectivos preços:\n\nLimpeza Dental - R$100\nExtração de Dente - R$200\nTratamento de Canal - R$300\nRestauração de Cáries - R$150\nClareamento Dental - R$250\nImplante Dentário - R$500\nOrtodontia (aparelho dentário) - R$400\n\nSiga esse passo a passo com o cliente.\n\nREGRA: sempre que enviar mensagem chama o cliente pelo nome\n\nLembre-se de manter uma comunicação empática e esclarecedora para garantir que os pacientes se sintam confortáveis e confiantes ao marcar suas consultas."
        }
      },
      "id": "f6ceed97-d85c-4d38-aea9-e8a405d725a8",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.2,
      "position": [
        1180,
        320
      ]
    }
  ],
  "pinData": {
    "When clicking \"Test workflow\"": [
      {
        "json": {
          "cus_cel": "59",
          "input": "na quinta feira as 14 to livre"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-02-20T06:00:45.468Z",
  "versionId": "f5333e57-6192-402e-b9d9-fbafc3021614"
}