workflows/Pesquisa de empresa por site com I.A.json
{
  "active": false,
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Clean Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Content": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Read Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-25T19:56:39.434Z",
  "id": "19",
  "name": "Pesquisa de empresa por site com I.A",
  "nodes": [
    {
      "parameters": {},
      "id": "04750e9b-6ce3-401b-89e7-f1f17f3a4a28",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $node[\"Split In Batches\"].json[\"Domain\"] }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "7a8bb997-5a2d-4ee0-a1ca-bebe9fe32bc2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1160,
        120
      ],
      "typeVersion": 3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "body",
              "cssSelector": "html"
            }
          ]
        },
        "options": {
          "trimValues": false
        }
      },
      "id": "6409f0c4-bf93-4a1d-a74c-e294fb39895f",
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1340,
        120
      ],
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "prompt": "=Este é o conteúdo do site {{ $node[\"Split In Batches\"].json[\"Dominio\"] }}:\"{{ $json[\"contentShort\"] }}\"\n\nNo formato JSON:\n\n- Dê-me a proposta de valor da empresa. Em menos de 25 palavras. Em inglês. Tom casual. O formato é: \"[Nome da empresa] ajuda [público-alvo] [alcançar o resultado desejado] e [benefício adicional]\"\n\n- Dê-me a indústria da empresa. (Classifique usando esta lista de setores: [Agricultura, Artes, Construção, Bens de Consumo, Educação, Entretenimento, Finanças, Outros, Saúde, Jurídico, Manufatura, Mídia e Comunicações, Administração Pública, Anúncios, Imóveis, Recreação e Viagens, Varejo, Software, Transportation & Logistics, Wellness & Fitness] se for ambíguo entre Software e Bens de consumo, prefira Bens de consumo)\n\n- Adivinhe o público-alvo de cada empresa. (Classifique e escolha 1 nesta lista: [equipes de vendas, equipes de marketing, equipes de RH, equipes de atendimento ao cliente, consumidores, C-levels] Escreva em letras minúsculas)\n\n- Diga-me se são B2B ou B2C\n\nformato deve ser:\n{\"proposta_de_valorr\": proposta_de_valor,\n\"industria\": indústria,\n\"publico_alvo\": publico_alvo,\n\"mercado\": mercado }\n\nJSON:",
        "options": {
          "maxTokens": 120,
          "temperature": 0,
          "topP": 1
        }
      },
      "id": "f45fcc6a-9ccd-43c9-9eaf-1797768e1e62",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1660,
        120
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "5",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "8de6c3d4-316f-4e00-a9f5-a4deefce90b3",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2040,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($input.item.json.body){\n\n\n\n$input.item.json.content = $input.item.json.body.replaceAll('/^\\s+|\\s+$/g', '').replace('/(\\r\\n|\\n|\\r)/gm', \"\").replace(/\\s+/g, ' ')\n\n\n  $input.item.json.contentShort = $input.item.json.content.slice(0, 10000)\n}\n\n\n\n\nreturn $input.item"
      },
      "id": "669f888e-1416-4291-a854-07ffbbbfcab1",
      "name": "Clean Content",
      "type": "n8n-nodes-base.code",
      "position": [
        1500,
        120
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q76tbvMBIx8QTPG0UTFQnUzi04diJSXY4xWyB6l5vFc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q76tbvMBIx8QTPG0UTFQnUzi04diJSXY4xWyB6l5vFc/edit#gid=0"
        },
        "columnToMatchOn": "Dominio",
        "valueToMatchOn": "={{ $json[\"Dominio\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "mercado",
              "fieldValue": "={{ $json[\"mercado\"] }}"
            },
            {
              "column": "industria",
              "fieldValue": "={{ $json[\"industria\"] }}"
            },
            {
              "column": "proposta_de_valor",
              "fieldValue": "={{ $json[\"proposta_de_valor\"] }}"
            },
            {
              "column": "publico_alvo",
              "fieldValue": "={{ $json[\"publico_alvo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbd5f866-2f5e-4adf-b1b5-a27b08c0425a",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2280,
        240
      ],
      "typeVersion": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q76tbvMBIx8QTPG0UTFQnUzi04diJSXY4xWyB6l5vFc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q76tbvMBIx8QTPG0UTFQnUzi04diJSXY4xWyB6l5vFc/edit#gid=0"
        },
        "options": {}
      },
      "id": "2754c6e1-9cf6-47d4-ad97-0797ec9155df",
      "name": "Read Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        600,
        240
      ],
      "typeVersion": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Dr. Fernando SIlva"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c2b93428-0dcc-4c02-bb81-496c12442284",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        820,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "eccf1dc8-a0bb-40f6-9471-95eac8020b02",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2500,
        240
      ],
      "webhookId": "d44bc024-1c21-44e0-b2b4-5cff6fb9f402",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the\n// JSON of the item\n$input.item.json.proposta_de_valor=JSON.parse($input.item.json.text).proposta_de_valor\n\n$input.item.json.industria=JSON.parse($input.item.json.text).industria\n\n$input.item.json.mercado=JSON.parse($input.item.json.text).mercado\n\n$input.item.json.publico_alvo=JSON.parse($input.item.json.text).publico_alvo\n\nreturn $input.item;"
      },
      "id": "27d8e2fe-8c82-45f6-b649-84278c288c5f",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "position": [
        1820,
        120
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-03-25T22:48:35.345Z",
  "versionId": "f2fd0f39-4077-4635-a388-1d3d0c2e0a20"
}