workflows/post_ToSchedule.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Notion9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Notion7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion2": {
      "main": [
        [
          {
            "node": "Notion5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Notion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion5": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Notion6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion6": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion7": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Notion8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion8": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion9": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion10": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Notion10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-16T19:51:27.519Z",
  "id": "v7Xib2cl56a2in53",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "post_ToSchedule",
  "nodes": [
    {
      "parameters": {},
      "id": "a2388feb-838d-4c9c-9d4b-b5b6748a2624",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        160
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "ca15ab7c-783f-404e-a5a3-c19991af4a89",
          "mode": "list",
          "cachedResultName": "Leads CRM",
          "cachedResultUrl": "https://www.notion.so/ca15ab7c783f404ea5a3c19991af4a89"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Whatsapp|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $('Execute Workflow Trigger').item.json.cus_cel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e84f7870-8cf0-4ccc-9391-8478e9fde406",
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        920,
        220
      ],
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "f90abc5d-ca8b-4274-b54b-67e7c1d82729",
          "mode": "list",
          "cachedResultName": "AGENDA",
          "cachedResultUrl": "https://www.notion.so/f90abc5dca8b4274b54b67e7c1d82729"
        },
        "title": "={{ $json.name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Whatsapp|phone_number",
              "phoneValue": "={{ $json.property_whatsapp }}"
            },
            {
              "key": "Procedimento|rich_text",
              "textContent": "={{ $json.property_procedimento }}"
            },
            {
              "key": "Name|title",
              "title": "={{ $json.property_nome }}"
            },
            {
              "key": "Date de Avaliação|date",
              "date": "={{ $('Code1').item.json.jsonDateHour.data || $('Code1').item.json.jsonDateHour.date || $('Code1').item.json.jsonDateHour.timestamp\n}}",
              "timezone": "America/Cuiaba"
            }
          ]
        },
        "options": {}
      },
      "id": "12426264-7aaa-43f2-888d-72604c5b51a0",
      "name": "Notion1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        1580,
        280
      ],
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "response",
              "stringValue": "=marcado"
            }
          ]
        },
        "options": {}
      },
      "id": "3a346371-7468-40b2-b6b1-cab8efc2bf16",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1820,
        280
      ]
    },
    {
      "parameters": {
        "prompt": "=Hoje é: {{ new Date() }}\nDia da semana: {{ $json[\"dayOfWeek\"] }}\n\n\nessa é a data que o paciente quer:\n{{ $('Execute Workflow Trigger').item.json.query }}\n\nme retorne a data de acordo com hoje e o o que o paciente quer em timestamp lembrando que o fuso horario é de cuiaba brasil -04:00:\nex: 2024-02-20T01:52:52.995-04:00\n\nme retorne apenas o json, sem explicação de nada. não precisa dizer o que o paciente quer, apena o json porfavor. ",
        "options": {
          "maxTokens": 500,
          "presence_penalty": 0,
          "temperature": 0
        }
      },
      "id": "786b4211-63ba-4602-94ee-93caf3a86410",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        560,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "yRbbRezEyMzU8Qmb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obtenha a data atual\nconst today = new Date();\n\n// Obtenha o dia da semana (0 a 6)\nconst dayOfWeek = today.getDay();\n\n// Mapeie o número do dia da semana para o nome do dia\nconst weekdays = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\nconst dayName = weekdays[dayOfWeek];\n\n// Adicione o nome do dia da semana ao item JSON\n$input.item.json.dayOfWeek = dayName;\n\n// Retorne o item atualizado\nreturn $input.item;\n"
      },
      "id": "2a33b688-271f-45a9-82ca-0bdbe9274848",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nconst jsonDate = JSON.parse($('OpenAI').item.json.text)\n$input.item.json.jsonDateHour = jsonDate\n\nreturn $input.item;"
      },
      "id": "a2cf6bc8-4f19-48af-8de8-95cb2433b796",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "65f9770c-db39-44e2-b387-7eabfb07dbb1",
              "leftValue": "={{ $json.query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c180982a-6f20-493c-a1b9-48b0f6a1205c",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        60,
        320
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "ca15ab7c-783f-404e-a5a3-c19991af4a89",
          "mode": "list",
          "cachedResultName": "Leads CRM",
          "cachedResultUrl": "https://www.notion.so/ca15ab7c783f404ea5a3c19991af4a89"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Whatsapp|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $('Execute Workflow Trigger').item.json.cus_cel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "00794c81-7aef-476e-9047-eabc52897d9b",
      "name": "Notion2",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        1160,
        520
      ],
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "f90abc5d-ca8b-4274-b54b-67e7c1d82729",
          "mode": "list",
          "cachedResultName": "AGENDA",
          "cachedResultUrl": "https://www.notion.so/f90abc5dca8b4274b54b67e7c1d82729"
        },
        "title": "={{ $('If1').item.json.name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Whatsapp|phone_number",
              "phoneValue": "={{ $('If1').item.json.property_whatsapp }}"
            },
            {
              "key": "Procedimento|rich_text",
              "textContent": "={{ $('If1').item.json.property_procedimento }}"
            },
            {
              "key": "Name|title",
              "title": "={{ $('If1').item.json.name }}"
            },
            {
              "key": "Date de Avaliação|date",
              "date": "={{ $('Code3').item.json.jsonDateHour.data || $('Code3').item.json.jsonDateHour.date || $('Code3').item.json.jsonDateHour.timestamp\n}}",
              "timezone": "America/Cuiaba"
            }
          ]
        },
        "options": {}
      },
      "id": "c5ca6524-b705-40c3-b958-2e439cc00cc9",
      "name": "Notion3",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        1840,
        600
      ],
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "response",
              "stringValue": "=marcado"
            }
          ]
        },
        "options": {}
      },
      "id": "2260fa77-1d95-4a9a-8334-e0994c7da853",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2080,
        600
      ]
    },
    {
      "parameters": {
        "prompt": "=Hoje é: {{ new Date() }}\nDia da semana: {{ $json[\"dayOfWeek\"] }}\n\n\nessa é a data que o paciente quer:\n{{ $json[\"property_data_recomendada\"] }}\n\nme retorne a data de acordo com hoje e o o que o paciente quer em timestamp lembrando que o fuso horario é de cuiaba brasil -04:00:\nex: 2024-02-20T01:52:52.995-04:00\n\nme retorne apenas o json, sem explicação de nada. não precisa dizer o que o paciente quer, apena o json porfavor. ",
        "options": {
          "maxTokens": 500,
          "presence_penalty": 0,
          "temperature": 0
        }
      },
      "id": "a4c736b2-dfb9-4e95-b36e-9dda4424fb05",
      "name": "OpenAI1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        800,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "yRbbRezEyMzU8Qmb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obtenha a data atual\nconst today = new Date();\n\n// Obtenha o dia da semana (0 a 6)\nconst dayOfWeek = today.getDay();\n\n// Mapeie o número do dia da semana para o nome do dia\nconst weekdays = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\nconst dayName = weekdays[dayOfWeek];\n\n// Adicione o nome do dia da semana ao item JSON\n$input.item.json.dayOfWeek = dayName;\n\n// Retorne o item atualizado\nreturn $input.item;\n"
      },
      "id": "0e23228b-8b36-44a5-a15b-82db4472c090",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nconst jsonDate = JSON.parse($('OpenAI1').item.json.text)\n$input.item.json.jsonDateHour = jsonDate\n\nreturn $input.item;"
      },
      "id": "4c0f7acc-143e-4979-93e4-4da954528f06",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        520
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "ca15ab7c-783f-404e-a5a3-c19991af4a89",
          "mode": "list",
          "cachedResultName": "Leads CRM",
          "cachedResultUrl": "https://www.notion.so/ca15ab7c783f404ea5a3c19991af4a89"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Whatsapp|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $('Execute Workflow Trigger').item.json.cus_cel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f109fc5d-16ef-403f-82ba-52287616031d",
      "name": "Notion4",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        200,
        520
      ],
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b73d7547-e963-4acd-9dd9-d3201fa2dc75",
              "leftValue": "={{ $json.property_data_recomendada }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fc0b8c54-112b-4ffa-82bf-66b1f34dbac2",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        520
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "response",
              "stringValue": "=verificando horario disponivel"
            }
          ]
        },
        "options": {}
      },
      "id": "d948675a-c8fe-4ff4-9703-5bb3f6e966b1",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        620,
        780
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "f90abc5d-ca8b-4274-b54b-67e7c1d82729",
          "mode": "list",
          "cachedResultName": "AGENDA",
          "cachedResultUrl": "https://www.notion.so/f90abc5dca8b4274b54b67e7c1d82729"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Whatsapp|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $('Execute Workflow Trigger').item.json.cus_cel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "84cc7d47-4514-42f5-9681-35b33bf600e2",
      "name": "Notion5",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        1360,
        520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "61b173f8-8d79-47fc-89bf-0eab59f33ae5",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "46908d42-e864-47f1-aeff-a3661993503e",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1580,
        520
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Date de Avaliação|date",
              "date": "={{ $('Code3').item.json.jsonDateHour.data || $('Code3').item.json.jsonDateHour.date || $('Code3').item.json.jsonDateHour.timestamp\n}}",
              "timezone": "America/Cuiaba"
            }
          ]
        },
        "options": {}
      },
      "id": "9b7da139-805b-4148-8c05-fcdbdb2bd3de",
      "name": "Notion6",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        1840,
        440
      ],
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "response",
              "stringValue": "=marcado {{ $json.property_date_de_avalia_o.start }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c14f3e9c-554d-43a2-84b8-ecbea597f989",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2080,
        440
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "f90abc5d-ca8b-4274-b54b-67e7c1d82729",
          "mode": "list",
          "cachedResultName": "AGENDA",
          "cachedResultUrl": "https://www.notion.so/f90abc5dca8b4274b54b67e7c1d82729"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Whatsapp|phone_number",
              "condition": "equals",
              "phoneNumberValue": "={{ $json.property_whatsapp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c21fc930-0329-428e-a5ef-a629b1b1aab0",
      "name": "Notion7",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        1140,
        220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "61b173f8-8d79-47fc-89bf-0eab59f33ae5",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4686bb27-eded-44a5-88a6-93251e22d07e",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        220
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Date de Avaliação|date",
              "date": "={{ $('Code1').item.json.jsonDateHour.data || $('Code1').item.json.jsonDateHour.date || $('Code1').item.json.jsonDateHour.timestamp\n}}",
              "timezone": "America/Cuiaba"
            }
          ]
        },
        "options": {}
      },
      "id": "631120c4-8366-478e-b6b0-b82a667fea4b",
      "name": "Notion8",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        1580,
        100
      ],
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "response",
              "stringValue": "=marcado {{ $json.property_date_de_avalia_o.start }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e6e1c22-c237-4aa7-9aeb-5d1af8489828",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1820,
        100
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "f90abc5d-ca8b-4274-b54b-67e7c1d82729",
          "mode": "list",
          "cachedResultName": "AGENDA",
          "cachedResultUrl": "https://www.notion.so/f90abc5dca8b4274b54b67e7c1d82729"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Whatsapp|phone_number",
              "condition": "equals",
              "phoneNumberValue": "={{ $json.cus_cel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a2765a0-8c62-4b8a-a60a-afc868da0e8c",
      "name": "Notion9",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        -320,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7685e1b2-fc98-4f8e-837a-d03d7593f13a",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7b9c60f-6ec5-4714-ac13-1e083f439e72",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -160,
        160
      ]
    },
    {
      "parameters": {
        "prompt": "=Hoje é: {{ new Date() }}\nDia da semana: {{ $json[\"dayOfWeek\"] }}\n\n\nessa é a data que o paciente quer:\n{{ $('Execute Workflow Trigger').item.json.query }}\n\nme retorne a data de acordo com hoje e o o que o paciente quer em timestamp lembrando que o fuso horario é de cuiaba brasil -04:00:\nex: 2024-02-20T01:52:52.995-04:00\n\nme retorne apenas o json, sem explicação de nada. não precisa dizer o que o paciente quer, apena o json porfavor. ",
        "options": {
          "maxTokens": 500,
          "presence_penalty": 0,
          "temperature": 0
        }
      },
      "id": "486c4e04-120b-4c4d-8983-693848de594d",
      "name": "OpenAI2",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        280,
        40
      ],
      "credentials": {
        "openAiApi": {
          "id": "yRbbRezEyMzU8Qmb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obtenha a data atual\nconst today = new Date();\n\n// Obtenha o dia da semana (0 a 6)\nconst dayOfWeek = today.getDay();\n\n// Mapeie o número do dia da semana para o nome do dia\nconst weekdays = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\nconst dayName = weekdays[dayOfWeek];\n\n// Adicione o nome do dia da semana ao item JSON\n$input.item.json.dayOfWeek = dayName;\n\n// Retorne o item atualizado\nreturn $input.item;\n"
      },
      "id": "4a2aa2f5-6155-4464-9ff7-0b3d19093aa2",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nconst jsonDate = JSON.parse($('OpenAI2').item.json.text)\n$input.item.json.jsonDateHour = jsonDate\n\nreturn $input.item;"
      },
      "id": "16745975-bc67-499d-b3f5-6b4836cb8556",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        40
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion9').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Date de Avaliação|date",
              "date": "={{ $('Code5').item.json.jsonDateHour.data || $('Code5').item.json.jsonDateHour.date || $('Code5').item.json.jsonDateHour.timestamp\n}}",
              "timezone": "America/Cuiaba"
            }
          ]
        },
        "options": {}
      },
      "id": "7a69f2e4-c016-4533-b96b-d43a6ef9506b",
      "name": "Notion10",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        720,
        40
      ],
      "credentials": {
        "notionApi": {
          "id": "cPf1293CGIUwCXjl",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "response",
              "stringValue": "=marcado {{ $json.property_date_de_avalia_o.start }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b6b1c74-6d6c-49b8-8ab6-17a0a7777a56",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        960,
        40
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "cus_cel": "556696188393",
          "query": "terça feira"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Campo_Grande",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-02-25T20:03:40.203Z",
  "versionId": "bc78afc2-48f6-4d20-af98-a641478804df"
}