workflows/Pré Checkout - Novo Ego - 2.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Google Sheets10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request21": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Google Sheets13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "HTTP Request24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "HTTP Request25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets12": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets13": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "HTTP Request21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request24": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request22": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-15T03:36:19.721Z",
  "id": "QtwDMPfbn9M06uMF",
  "name": "Pré Checkout - Novo Ego - 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "precheckout2",
        "options": {}
      },
      "id": "7978f246-225a-4ab8-9d44-cef0ea7455d5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        420,
        460
      ],
      "webhookId": "2a94b07a-a02e-4c69-a696-40cadc09cf39"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "customerName",
              "value": "={{ $('Webhook').item.json.body.Name }}"
            },
            {
              "name": "customerEmail",
              "value": "={{ $('Webhook').item.json.body.Email }}"
            },
            {
              "name": "customerWhatsapp",
              "value": "={{ $('Webhook').item.json.body.Whatsapp }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Webhook').item.json.body.utm_source }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Webhook').item.json.body.utm_medium }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Webhook').item.json.body.utm_campaign }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Webhook').item.json.body.utm_term }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Webhook').item.json.body.utm_content }}"
            },
            {
              "name": "formulario",
              "value": "={{ $('Webhook').item.json.body.form_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5bff76ea-56f4-458e-87af-1af15785763c",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        740,
        460
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.customerEmail }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6e32c12b-322f-4ea5-afa0-940556a2c705",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1340,
        140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Comprou }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "7a433180-878a-427c-abdf-ecdd2036a06a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1540,
        140
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ new Date() }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "outputFieldName": "date",
        "options": {}
      },
      "id": "95e9c3de-ba5e-48d5-ad8c-e7db89cb7eb6",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        580,
        460
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Inscrição": "={{ $('Switch').item.json.date }}",
            "Email": "={{ $('Switch').item.json.customerEmail }}",
            "Telefone": "={{ $('Switch').item.json.tel55 }}",
            "Comprou": "NÃO",
            "Status": "lead",
            "Plataforma de Inicio": "={{ $('Switch').item.json.utm_source }}",
            "Canal de Inicio": "={{ $('Switch').item.json.utm_medium }}",
            "Campanha de Inicio": "={{ $('Switch').item.json.utm_campaign }}",
            "Termo de Inicio": "={{ $('Switch').item.json.utm_term }}",
            "Conteúdo de Inicio": "={{ $('Switch').item.json.utm_content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cadastrou Pré Checkout",
              "displayName": "Cadastrou Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comprou",
              "displayName": "Comprou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plano",
              "displayName": "Plano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Formulario Pré Checkout",
              "displayName": "Formulario Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cobranças",
              "displayName": "Cobranças",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Captura",
              "displayName": "Plataforma de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Captura",
              "displayName": "Canal de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Captura",
              "displayName": "Campanha de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Captura",
              "displayName": "Termo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Captura",
              "displayName": "Conteúdo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Inicio",
              "displayName": "Plataforma de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Canal de Inicio",
              "displayName": "Canal de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Campanha de Inicio",
              "displayName": "Campanha de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Termo de Inicio",
              "displayName": "Termo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conteúdo de Inicio",
              "displayName": "Conteúdo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataforma de Pré Planos",
              "displayName": "Plataforma de Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Planos",
              "displayName": "Canal Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Planos",
              "displayName": "Camapanha Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Planos",
              "displayName": "Termo Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo Pré Planos ",
              "displayName": "Conteúdo Pré Planos ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma Pré Checkout",
              "displayName": "Plataforma Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Checkout",
              "displayName": "Canal Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Checkout",
              "displayName": "Camapanha Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Checkout",
              "displayName": "Termo Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo  Pré Checkout",
              "displayName": "Conteúdo  Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Compra",
              "displayName": "Plataforma de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Compra",
              "displayName": "Canal de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha de Compra",
              "displayName": "Camapanha de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Compra",
              "displayName": "Termo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Compra",
              "displayName": "Conteúdo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "1da4f09c-1977-415d-8486-69709750e703",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.formulario }}",
        "rules": {
          "rules": [
            {
              "value2": "form-started"
            },
            {
              "value2": "pre-plano",
              "output": 1
            },
            {
              "value2": "Anual",
              "output": 2
            },
            {
              "value2": "Mensal",
              "output": 3
            }
          ]
        }
      },
      "id": "a49faaa9-57ea-46a9-946c-e0f2e68d37b5",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1080,
        460
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Inscrição": "={{ $('Switch').item.json.date }}",
            "Email": "={{ $('Switch').item.json.customerEmail }}",
            "Telefone": "={{ $('Switch').item.json.tel55 }}",
            "Comprou": "NÃO",
            "Status": "Lead",
            "Plataforma de Inicio": "={{ $('Switch').item.json.utm_source }}",
            "Canal de Inicio": "={{ $('Switch').item.json.utm_medium }}",
            "Campanha de Inicio": "={{ $('Switch').item.json.utm_campaign }}",
            "Termo de Inicio": "={{ $('Switch').item.json.utm_term }}",
            "Conteúdo de Inicio": "={{ $('Switch').item.json.utm_content }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cadastrou Pré Checkout",
              "displayName": "Cadastrou Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comprou",
              "displayName": "Comprou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plano",
              "displayName": "Plano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Formulario Pré Checkout",
              "displayName": "Formulario Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cobranças",
              "displayName": "Cobranças",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Captura",
              "displayName": "Plataforma de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Captura",
              "displayName": "Canal de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Captura",
              "displayName": "Campanha de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Captura",
              "displayName": "Termo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Captura",
              "displayName": "Conteúdo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Inicio",
              "displayName": "Plataforma de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Canal de Inicio",
              "displayName": "Canal de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Campanha de Inicio",
              "displayName": "Campanha de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Termo de Inicio",
              "displayName": "Termo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conteúdo de Inicio",
              "displayName": "Conteúdo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataforma de Pré Planos",
              "displayName": "Plataforma de Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Planos",
              "displayName": "Canal Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Planos",
              "displayName": "Camapanha Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Planos",
              "displayName": "Termo Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo Pré Planos ",
              "displayName": "Conteúdo Pré Planos ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma Pré Checkout",
              "displayName": "Plataforma Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Checkout",
              "displayName": "Canal Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Checkout",
              "displayName": "Camapanha Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Checkout",
              "displayName": "Termo Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo  Pré Checkout",
              "displayName": "Conteúdo  Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Compra",
              "displayName": "Plataforma de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Compra",
              "displayName": "Canal de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha de Compra",
              "displayName": "Camapanha de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Compra",
              "displayName": "Termo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Compra",
              "displayName": "Conteúdo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "cf04f21a-ddcc-4191-a901-d712dd199b53",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.customerEmail }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5b87e972-1856-4ec9-b033-328d73b28e31",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1340,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Comprou }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "1d9c52f9-390b-4be9-9401-0fa8b294aa74",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1540,
        440
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Inscrição": "={{ $('Switch').item.json.date }}",
            "Email": "={{ $('Switch').item.json.customerEmail }}",
            "Telefone": "={{ $('Switch').item.json.tel55 }}",
            "Comprou": "NÃO",
            "Status": "Planos",
            "Plataforma de Pré Planos": "={{ $('Switch').item.json.utm_source }}",
            "Canal Pré Planos": "={{ $('Switch').item.json.utm_medium }}",
            "Camapanha Pré Planos": "={{ $('Switch').item.json.utm_campaign }}",
            "Termo Pré Planos": "={{ $('Switch').item.json.utm_term }}",
            "Conteúdo Pré Planos ": "={{ $('Switch').item.json.utm_content }}",
            "Nome": "={{ $('Switch').item.json.customerName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cadastrou Pré Checkout",
              "displayName": "Cadastrou Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comprou",
              "displayName": "Comprou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plano",
              "displayName": "Plano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Formulario Pré Checkout",
              "displayName": "Formulario Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cobranças",
              "displayName": "Cobranças",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Captura",
              "displayName": "Plataforma de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Captura",
              "displayName": "Canal de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Captura",
              "displayName": "Campanha de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Captura",
              "displayName": "Termo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Captura",
              "displayName": "Conteúdo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Inicio",
              "displayName": "Plataforma de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Inicio",
              "displayName": "Canal de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Inicio",
              "displayName": "Campanha de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Inicio",
              "displayName": "Termo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Inicio",
              "displayName": "Conteúdo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Pré Planos",
              "displayName": "Plataforma de Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Canal Pré Planos",
              "displayName": "Canal Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Camapanha Pré Planos",
              "displayName": "Camapanha Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Termo Pré Planos",
              "displayName": "Termo Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conteúdo Pré Planos ",
              "displayName": "Conteúdo Pré Planos ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plataforma Pré Checkout",
              "displayName": "Plataforma Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Checkout",
              "displayName": "Canal Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Checkout",
              "displayName": "Camapanha Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Checkout",
              "displayName": "Termo Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo  Pré Checkout",
              "displayName": "Conteúdo  Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Compra",
              "displayName": "Plataforma de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Compra",
              "displayName": "Canal de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha de Compra",
              "displayName": "Camapanha de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Compra",
              "displayName": "Termo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Compra",
              "displayName": "Conteúdo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "f0c90c03-88e7-4799-bb20-9ccf1b9af943",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Inscrição": "={{ $('Switch').item.json.date }}",
            "Email": "={{ $('Switch').item.json.customerEmail }}",
            "Telefone": "={{ $('Switch').item.json.customerWhatsapp }}",
            "Comprou": "NÃO",
            "Status": "Planos",
            "Plataforma de Pré Planos": "={{ $('Switch').item.json.utm_source }}",
            "Canal Pré Planos": "={{ $('Switch').item.json.utm_medium }}",
            "Camapanha Pré Planos": "={{ $('Switch').item.json.utm_campaign }}",
            "Termo Pré Planos": "={{ $('Switch').item.json.utm_term }}",
            "Conteúdo Pré Planos ": "={{ $('Switch').item.json.utm_content }}",
            "Nome": "={{ $('Switch').item.json.customerName }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cadastrou Pré Checkout",
              "displayName": "Cadastrou Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comprou",
              "displayName": "Comprou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plano",
              "displayName": "Plano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Formulario Pré Checkout",
              "displayName": "Formulario Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cobranças",
              "displayName": "Cobranças",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Captura",
              "displayName": "Plataforma de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Captura",
              "displayName": "Canal de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Captura",
              "displayName": "Campanha de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Captura",
              "displayName": "Termo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Captura",
              "displayName": "Conteúdo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Inicio",
              "displayName": "Plataforma de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Inicio",
              "displayName": "Canal de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Inicio",
              "displayName": "Campanha de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Inicio",
              "displayName": "Termo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Inicio",
              "displayName": "Conteúdo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Pré Planos",
              "displayName": "Plataforma de Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Canal Pré Planos",
              "displayName": "Canal Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Camapanha Pré Planos",
              "displayName": "Camapanha Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Termo Pré Planos",
              "displayName": "Termo Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conteúdo Pré Planos ",
              "displayName": "Conteúdo Pré Planos ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plataforma Pré Checkout",
              "displayName": "Plataforma Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Checkout",
              "displayName": "Canal Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Checkout",
              "displayName": "Camapanha Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Checkout",
              "displayName": "Termo Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo  Pré Checkout",
              "displayName": "Conteúdo  Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Compra",
              "displayName": "Plataforma de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Compra",
              "displayName": "Canal de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha de Compra",
              "displayName": "Camapanha de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Compra",
              "displayName": "Termo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Compra",
              "displayName": "Conteúdo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "9b2f0968-0b82-429e-94fd-44ab36fffac3",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.customerEmail }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89aa8613-40ff-4bbd-be59-2044b77d8044",
      "name": "Google Sheets6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1340,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Comprou }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "84a9368f-404d-4379-aa52-7dd46f9fe8ec",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1540,
        780
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Inscrição": "={{ $('Switch').item.json.date }}",
            "Email": "={{ $('Switch').item.json.customerEmail }}",
            "Telefone": "={{ $('Switch').item.json.tel55 }}",
            "Comprou": "NÃO",
            "Status": "Pré Checkout",
            "Plataforma de Pré Planos": "={{ $('Switch').item.json.utm_source }}",
            "Canal Pré Planos": "={{ $('Switch').item.json.utm_medium }}",
            "Camapanha Pré Planos": "={{ $('Switch').item.json.utm_campaign }}",
            "Termo Pré Planos": "={{ $('Switch').item.json.utm_term }}",
            "Conteúdo Pré Planos ": "={{ $('Switch').item.json.utm_content }}",
            "Formulario Pré Checkout": "={{ $('Switch').item.json.formulario }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cadastrou Pré Checkout",
              "displayName": "Cadastrou Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comprou",
              "displayName": "Comprou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plano",
              "displayName": "Plano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Formulario Pré Checkout",
              "displayName": "Formulario Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cobranças",
              "displayName": "Cobranças",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Captura",
              "displayName": "Plataforma de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Captura",
              "displayName": "Canal de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Captura",
              "displayName": "Campanha de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Captura",
              "displayName": "Termo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Captura",
              "displayName": "Conteúdo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Inicio",
              "displayName": "Plataforma de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Inicio",
              "displayName": "Canal de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Inicio",
              "displayName": "Campanha de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Inicio",
              "displayName": "Termo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Inicio",
              "displayName": "Conteúdo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Pré Planos",
              "displayName": "Plataforma de Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Canal Pré Planos",
              "displayName": "Canal Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Camapanha Pré Planos",
              "displayName": "Camapanha Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Termo Pré Planos",
              "displayName": "Termo Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conteúdo Pré Planos ",
              "displayName": "Conteúdo Pré Planos ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plataforma Pré Checkout",
              "displayName": "Plataforma Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Checkout",
              "displayName": "Canal Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Checkout",
              "displayName": "Camapanha Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Checkout",
              "displayName": "Termo Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo  Pré Checkout",
              "displayName": "Conteúdo  Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Compra",
              "displayName": "Plataforma de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Compra",
              "displayName": "Canal de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha de Compra",
              "displayName": "Camapanha de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Compra",
              "displayName": "Termo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Compra",
              "displayName": "Conteúdo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "d27e239e-c31d-4bb9-af2a-68a8b186c10c",
      "name": "Google Sheets7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        760
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Inscrição": "={{ $('Switch').item.json.date }}",
            "Email": "={{ $('Switch').item.json.customerEmail }}",
            "Telefone": "={{ $('Switch').item.json.tel55 }}",
            "Comprou": "NÃO",
            "Status": "Pré checkout",
            "Plataforma Pré Checkout": "={{ $('Switch').item.json.utm_source }}",
            "Camapanha Pré Checkout": "={{ $('Switch').item.json.utm_campaign }}",
            "Canal Pré Checkout": "={{ $('Switch').item.json.utm_medium }}",
            "Termo Pré Checkout": "={{ $('Switch').item.json.utm_term }}",
            "Conteúdo  Pré Checkout": "={{ $('Switch').item.json.utm_content }}",
            "Formulario Pré Checkout": "={{ $('Switch').item.json.formulario }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cadastrou Pré Checkout",
              "displayName": "Cadastrou Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comprou",
              "displayName": "Comprou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plano",
              "displayName": "Plano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Formulario Pré Checkout",
              "displayName": "Formulario Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cobranças",
              "displayName": "Cobranças",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Captura",
              "displayName": "Plataforma de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Captura",
              "displayName": "Canal de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Captura",
              "displayName": "Campanha de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Captura",
              "displayName": "Termo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Captura",
              "displayName": "Conteúdo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Inicio",
              "displayName": "Plataforma de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Inicio",
              "displayName": "Canal de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Inicio",
              "displayName": "Campanha de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Inicio",
              "displayName": "Termo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Inicio",
              "displayName": "Conteúdo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Pré Planos",
              "displayName": "Plataforma de Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Planos",
              "displayName": "Canal Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Planos",
              "displayName": "Camapanha Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Planos",
              "displayName": "Termo Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo Pré Planos ",
              "displayName": "Conteúdo Pré Planos ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma Pré Checkout",
              "displayName": "Plataforma Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Canal Pré Checkout",
              "displayName": "Canal Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Camapanha Pré Checkout",
              "displayName": "Camapanha Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Termo Pré Checkout",
              "displayName": "Termo Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conteúdo  Pré Checkout",
              "displayName": "Conteúdo  Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plataforma de Compra",
              "displayName": "Plataforma de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Compra",
              "displayName": "Canal de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha de Compra",
              "displayName": "Camapanha de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Compra",
              "displayName": "Termo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Compra",
              "displayName": "Conteúdo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "807d8bcf-02fd-49e9-8b32-9e5f4f3f89fb",
      "name": "Google Sheets8",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        900
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.customerEmail }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b81e8a57-a024-404a-87c7-2b0b3b33ccd9",
      "name": "Google Sheets9",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1340,
        1120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Comprou }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "58976d43-2e09-4528-ac94-1f2623e56cd5",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1540,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Inscrição": "={{ $('Switch').item.json.date }}",
            "Email": "={{ $('Switch').item.json.customerEmail }}",
            "Telefone": "={{ $('Switch').item.json.tel55 }}",
            "Comprou": "NÃO",
            "Status": "Pré Checkout",
            "Plataforma de Pré Planos": "={{ $('Switch').item.json.utm_source }}",
            "Canal Pré Planos": "={{ $('Switch').item.json.utm_medium }}",
            "Camapanha Pré Planos": "={{ $('Switch').item.json.utm_campaign }}",
            "Termo Pré Planos": "={{ $('Switch').item.json.utm_term }}",
            "Conteúdo Pré Planos ": "={{ $('Switch').item.json.utm_content }}",
            "Formulario Pré Checkout": "={{ $('Switch').item.json.formulario }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cadastrou Pré Checkout",
              "displayName": "Cadastrou Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comprou",
              "displayName": "Comprou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plano",
              "displayName": "Plano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Formulario Pré Checkout",
              "displayName": "Formulario Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cobranças",
              "displayName": "Cobranças",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Captura",
              "displayName": "Plataforma de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Captura",
              "displayName": "Canal de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Captura",
              "displayName": "Campanha de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Captura",
              "displayName": "Termo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Captura",
              "displayName": "Conteúdo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Inicio",
              "displayName": "Plataforma de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Inicio",
              "displayName": "Canal de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Inicio",
              "displayName": "Campanha de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Inicio",
              "displayName": "Termo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Inicio",
              "displayName": "Conteúdo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Pré Planos",
              "displayName": "Plataforma de Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Canal Pré Planos",
              "displayName": "Canal Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Camapanha Pré Planos",
              "displayName": "Camapanha Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Termo Pré Planos",
              "displayName": "Termo Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conteúdo Pré Planos ",
              "displayName": "Conteúdo Pré Planos ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plataforma Pré Checkout",
              "displayName": "Plataforma Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Checkout",
              "displayName": "Canal Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Checkout",
              "displayName": "Camapanha Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Checkout",
              "displayName": "Termo Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo  Pré Checkout",
              "displayName": "Conteúdo  Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Compra",
              "displayName": "Plataforma de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Compra",
              "displayName": "Canal de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha de Compra",
              "displayName": "Camapanha de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Compra",
              "displayName": "Termo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Compra",
              "displayName": "Conteúdo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "39d32657-1139-474c-be3b-3c6f686d6ef3",
      "name": "Google Sheets10",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        1100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Inscrição": "={{ $('Switch').item.json.date }}",
            "Email": "={{ $('Switch').item.json.customerEmail }}",
            "Telefone": "={{ $('Switch').item.json.tel55 }}",
            "Comprou": "NÃO",
            "Status": "Pré checkout",
            "Plataforma Pré Checkout": "={{ $('Switch').item.json.utm_source }}",
            "Camapanha Pré Checkout": "={{ $('Switch').item.json.utm_campaign }}",
            "Canal Pré Checkout": "={{ $('Switch').item.json.utm_medium }}",
            "Termo Pré Checkout": "={{ $('Switch').item.json.utm_term }}",
            "Conteúdo  Pré Checkout": "={{ $('Switch').item.json.utm_content }}",
            "Formulario Pré Checkout": "={{ $('Switch').item.json.formulario }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cadastrou Pré Checkout",
              "displayName": "Cadastrou Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comprou",
              "displayName": "Comprou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plano",
              "displayName": "Plano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Formulario Pré Checkout",
              "displayName": "Formulario Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cobranças",
              "displayName": "Cobranças",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Captura",
              "displayName": "Plataforma de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Captura",
              "displayName": "Canal de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Captura",
              "displayName": "Campanha de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Captura",
              "displayName": "Termo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Captura",
              "displayName": "Conteúdo de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Inicio",
              "displayName": "Plataforma de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Inicio",
              "displayName": "Canal de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha de Inicio",
              "displayName": "Campanha de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Inicio",
              "displayName": "Termo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Inicio",
              "displayName": "Conteúdo de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma de Pré Planos",
              "displayName": "Plataforma de Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal Pré Planos",
              "displayName": "Canal Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha Pré Planos",
              "displayName": "Camapanha Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo Pré Planos",
              "displayName": "Termo Pré Planos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo Pré Planos ",
              "displayName": "Conteúdo Pré Planos ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plataforma Pré Checkout",
              "displayName": "Plataforma Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Canal Pré Checkout",
              "displayName": "Canal Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Camapanha Pré Checkout",
              "displayName": "Camapanha Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Termo Pré Checkout",
              "displayName": "Termo Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conteúdo  Pré Checkout",
              "displayName": "Conteúdo  Pré Checkout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plataforma de Compra",
              "displayName": "Plataforma de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal de Compra",
              "displayName": "Canal de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Camapanha de Compra",
              "displayName": "Camapanha de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Termo de Compra",
              "displayName": "Termo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conteúdo de Compra",
              "displayName": "Conteúdo de Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "81b44706-725c-48d4-8594-83f5e10acda4",
      "name": "Google Sheets11",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        1240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "80a065f8-9ad9-48bc-ae80-936d4a4447c2",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2000,
        420
      ],
      "webhookId": "bdcabcd0-eba1-4032-93ab-8fffdc050b63"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets4').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=Olá, como vai?\n\nVocê está prestes a acessar tudo que precisa para desenvolver as 5 áreas da prosperidade humana: Espiritual, Saúde, Financeira, Pessoal e Emocional.\n\n ➡ Dê esse passo importante para o seu desenvolvimento, escolhendo o seu plano ideal clicando aqui:"
            }
          ]
        },
        "options": {}
      },
      "id": "155d6a36-dcac-4e58-9124-5676bbfe88ee",
      "name": "HTTP Request21",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2620,
        420
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "846a3f1a-6baa-489b-9c06-5ae32264655e",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2820,
        420
      ],
      "webhookId": "bdcabcd0-eba1-4032-93ab-8fffdc050b63"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets4').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=https://bit.ly/3RovhxN"
            }
          ]
        },
        "options": {}
      },
      "id": "ba5e285c-56fe-4f41-b94a-34c9cb84b23c",
      "name": "HTTP Request22",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3060,
        420
      ]
    },
    {
      "parameters": {
        "amount": 6,
        "unit": "seconds"
      },
      "id": "bf8f0921-1568-4ffa-a2a3-87f0aa20dfbb",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3260,
        420
      ],
      "webhookId": "bdcabcd0-eba1-4032-93ab-8fffdc050b63"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets4').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=P.S: Caso você não consiga clicar no link, basta me adicionar em seus contatos.\n\nEsperamos ter você conosco nessa jornada de transformação!\n\nUm abraço,\nEquipe Novo Ego"
            }
          ]
        },
        "options": {}
      },
      "id": "e551b6c4-c0cb-404c-ad3b-74d1eab7b4c3",
      "name": "HTTP Request23",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3500,
        420
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "ff291e7a-3d39-4a51-8eee-4942256d4063",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2000,
        560
      ],
      "webhookId": "bdcabcd0-eba1-4032-93ab-8fffdc050b63"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets5').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=Olá, como vai?\n\nVocê está prestes a acessar tudo que precisa para desenvolver as 5 áreas da prosperidade humana: Espiritual, Saúde, Financeira, Pessoal e Emocional.\n\n ➡ Dê esse passo importante para o seu desenvolvimento, escolhendo o seu plano ideal clicando aqui:"
            }
          ]
        },
        "options": {}
      },
      "id": "facf1445-ca03-4b90-ac19-1052bb515e95",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2620,
        560
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "ce0f2c84-0bb4-4876-99b7-94681c545c25",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2820,
        560
      ],
      "webhookId": "bdcabcd0-eba1-4032-93ab-8fffdc050b63"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets5').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=https://bit.ly/3RovhxN"
            }
          ]
        },
        "options": {}
      },
      "id": "d182bdc5-90d5-44da-84fd-4e0bdbfd3ddb",
      "name": "HTTP Request24",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3060,
        560
      ]
    },
    {
      "parameters": {
        "amount": 6,
        "unit": "seconds"
      },
      "id": "84bffeb0-6c35-4be2-931e-a62d483e9820",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3260,
        560
      ],
      "webhookId": "bdcabcd0-eba1-4032-93ab-8fffdc050b63"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets5').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=P.S: Caso você não consiga clicar no link, basta me adicionar em seus contatos.\n\nEsperamos ter você conosco nessa jornada de transformação!\n\nUm abraço,\nEquipe Novo Ego"
            }
          ]
        },
        "options": {}
      },
      "id": "6deff01d-5df1-47e6-99c0-8d90ea347a98",
      "name": "HTTP Request25",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3500,
        560
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Google Sheets4').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ff94518a-e26b-4b6b-b038-cdc0000b4304",
      "name": "Google Sheets12",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2200,
        420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Google Sheets5').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c5e63e52-5499-4b0c-91fe-95e9776a0da2",
      "name": "Google Sheets13",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2200,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Comprou }}",
              "value2": "NÃO"
            }
          ]
        }
      },
      "id": "06cd2e5e-af01-455c-95ea-2914eebb9ff8",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        2420,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Comprou }}",
              "value2": "NÃO"
            }
          ]
        }
      },
      "id": "357ada91-217d-474b-8742-146840e98afa",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        2420,
        560
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\nlet phone = $('Set').item.json.tel\n\nlet count = phone.replace('+', '').length\n\nif (count === 11) {\n    phone = \"+55\" + phone.slice(1);\n}\n\n$input.item.json.tel55 = phone;\n\nreturn $input.item;"
      },
      "id": "61a4390d-ab49-4599-bdc5-faae73365972",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        940
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\nlet phone = $('Set').item.json.customerWhatsapp\n\nlet count = phone.replace('+', '').length\n\nif (count === 11) {\n    phone = \"+55\" + phone;\n}\n\n$input.item.json.tel55 = phone;\n\nreturn $input.item;"
      },
      "id": "50d22c1b-df4e-4e96-8774-cfeab58916d7",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        460
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-09-15T21:05:03.034Z",
  "versionId": "61ead223-00d8-413e-b2d1-07e1ffb26acd"
}