workflows/Recuperação Vendas.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Última Execução?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Última Execução?": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-03T20:17:20.696Z",
  "id": "7n9BxfZSRZBuzZ2h",
  "meta": null,
  "name": "Recuperação Vendas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "007f080c-c757-486e-bac1-9b065bbde7bd",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk",
          "mode": "list",
          "cachedResultName": "Comunidade Novo Ego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270853515,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1et9e5uVZmxlTZRfl7vX3hdhenUqn8U52YtV8C0HV5yk/edit#gid=270853515"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Data de Inscrição",
              "lookupValue": "={{ $json.Diasatras }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "9a5099d4-f37c-4831-81c0-928bc70f212d",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1380,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15YimooLoASODhGO",
          "name": "Dr. Fernando Silva"
        }
      }
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ new Date() }}",
        "duration": 7,
        "outputFieldName": "Diasatras"
      },
      "id": "b8c97331-6584-49a4-9a33-bc051b889290",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1060,
        580
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.Diasatras }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "outputFieldName": "Diasatras",
        "options": {}
      },
      "id": "7b757aea-bc5f-43ae-a033-dc470f766be9",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1240,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "value2": "Pré checkout"
            },
            {
              "value1": "={{ $json.Status }}",
              "value2": "Planos"
            },
            {
              "value1": "={{ $json.Status }}",
              "value2": "Carrinho Abandonado"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "398d8113-8c0f-4c0d-aba4-2d688823df55",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        400
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "acb79061-55b7-48f2-8bcb-68f47c721b26",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C20E27EEB7FE0A01E03CECDD483CB75/token/00F5ACD078013B802F83A821/send-messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=👋 Olá! Tudo bem?\n\nEu sou o Dr. Fernando Silva. Notei que você se interessou pela Comunidade Novo Ego a um dias atrás, mas ainda não fez a compra. 🤔\n\nAlgum imprevisto? você vai deixar para trás a oportunidade de ornizar as 5 areas da sua vida?. \n\nPode me falar aqui o que houve que iremos resolver.\n\nLink👇:\nhttps://bit.ly/promocional-novo-ego"
            }
          ]
        },
        "options": {}
      },
      "id": "d06413d7-90e7-4010-abeb-1a9da31ed6db",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        400
      ]
    },
    {
      "parameters": {
        "amount": "={{ (1 + Math.random() * 5).toFixed(2) }}",
        "unit": "minutes"
      },
      "id": "a445bd49-86ad-43a6-a879-433639fa3f7a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2540,
        560
      ],
      "webhookId": "53564339-f08a-4402-9b2a-27ce46072b76"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Split In Batches\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "id": "aceedd35-95c9-4220-ae4e-8beaed52beb9",
      "name": "Última Execução?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2300,
        400
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Cuiaba",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-03T23:58:52.462Z",
  "versionId": "e6378d18-58bf-4031-a32f-9929350d6dc2"
}